<nav class="flex mx-auto px-3 pb-2 gap-x-6 lg:gap-x-9 border-b border-aoc-gray-darker">

  <% if @user.confirmed? %>

    <%= render NavTabComponent.new(link: { name: "calendar", path: calendar_path }) %>
    <%= render NavTabComponent.new(link: { name: "faq", path: faq_path }) %>
    <%= render NavTabComponent.new(link: { name: "settings", path: settings_path }) %>
    <%= render NavTabComponent.new(link: { name: "patrons", path: patrons_path }) %>
    <%= render NavTabComponent.new(link: { name: "admin", path: admin_path }) if @user.admin? %>

  <% else %>

    <%= render NavTabComponent.new(link: { name: "faq", path: faq_path }) %>
    <%= render NavTabComponent.new(link: { name: "setup", path: setup_path }) %>

  <% end %>

  <%= link_to destroy_user_session_path, class: "hover:text-wagon-red" do %>
    <i class="fas fa-power-off"></i>
  <% end %>

</nav>
