<nav class="flex mx-auto px-3 pb-2 gap-x-6 lg:gap-x-9 border-b border-aoc-gray-darker flex-wrap justify-center">

  <% if @user.confirmed? %>

    <%= render NavTabComponent.new(link: { name: "calendar", path: calendar_path })%>
    <%= render NavTabComponent.new(link: { name: "scores", path: scores_path }) %>
    <%= render NavTabComponent.new(link: { name: "the wall", path: messages_path }) %>
    <%= render NavTabComponent.new(link: { name: "achievements", path: achievements_path }) %>
    <%= render NavTabComponent.new(link: { name: "<i class=\"fas fa-gear\"></i>".html_safe, path: settings_path }) %>

  <% else %>

    <%= render NavTabComponent.new(link: { name: "faq", path: faq_path }) %>
    <%= render NavTabComponent.new(link: { name: "setup", path: setup_path }) %>

  <% end %>

  <%= link_to destroy_user_session_path, class: "hover:text-wagon-red" do %>
    <i class="fas fa-power-off"></i>
  <% end %>

</nav>
