<div id="<%= @snippet.id %>" class="w-full p-4 flex flex-col self-center gap-y-4 bg-aoc-gray-darkest border border-aoc-gray-dark group">
  <div class="flex text-xs gap-x-3">
    <%= link_to "permalink", snippet_path(day: @snippet.day, challenge: @snippet.challenge, anchor: @snippet.id), class: "link-explicit" %>
  </div>

  <pre class="code-highlight break-words text-sm whitespace-normal" data-language="<%= @snippet.language %>">
    <%= raw render_markdown @snippet.code, default_language: @snippet.language %>
  </pre>

  <hr class="border-aoc-gray-darker">

  <div class="w-full flex items-center justify-between">
    <div class="flex items-center gap-4">
      <% Reaction::TYPES.each do |type| %>
        <%= render Snippets::ReactionComponent.new(snippet: @snippet, reaction_type: type.to_sym, user: @user) %>
      <% end %>
    </div>

    <div class="flex justify-end gap-x-2">
      <span class="invisible group-hover:visible text-sm text-aoc-gray-dark"><%= @snippet.created_at %></span>

      <em class="text-sm text-aoc-gray-dark">
        - <%= link_to(@snippet.user.username, profile_path(@snippet.user.uid), class: "link-explicit group-hover:text-aoc-gray") %>
      </em>
    </div>
  </div>
</div>
