<div id="<%= @snippet.id %>"
     class="w-full p-4 flex flex-col self-center gap-y-4 bg-aoc-gray-darkest border border-aoc-gray-dark group"
     data-controller="show-more">

  <div class="flex items-center justify-between text-xs">
    <div class="flex gap-x-3">
      <%= link_to "permalink", snippet_path(day: @snippet.day, challenge: @snippet.challenge, anchor: @snippet.id), class: "link-explicit" %>

      <% if @user_can_edit_snippet %>
        <%= link_to "edit", edit_snippet_path(id: @snippet.id), class: "link-explicit" %>
      <% end %>
    </div>

    <% if @user_can_discuss_snippet %>
      <%= button_to discuss_snippet_path(@snippet), method: :patch, form: { target: "_blank" } do %>
        <span class="link-explicit link-slack">discuss on Slack</span>
      <% end %>
    <% end %>
  </div>

  <pre class="snippet break-words text-sm whitespace-normal truncated"
       data-language="<%= @snippet.language %>"
       data-show-more-target="codeBlock">
      <%= raw render_markdown @snippet.code, default_language: @snippet.language %>
  </pre>
  <button data-action="show-more#toggle"
          data-show-more-target="button"
          class="w-full text-xs text-center bg-aoc-green/20 hover:bg-aoc-green/15 active:bg-aoc-green/10">
    ↓ Show more ↓
  </button>

  <hr class="border-aoc-gray-darker">

  <div class="w-full flex items-center justify-between">
    <div
      class="flex items-center gap-x-1"
      data-controller="reactions"
      data-reactions-snippet-id-value="<%= @snippet.id %>"
      data-reactions-vote-value="<%= @user_reaction_vote_value.to_json %>">
      <% Reaction::TYPES.each do |type| %>
        <%= render Snippets::ReactionComponent.new(snippet: @snippet, reaction_type: type.to_sym, user: @user) %>
      <% end %>
    </div>

    <div class="flex justify-end gap-x-2">
      <span class="text-xs text-aoc-gray-dark"><%= @snippet.created_at %></span>

      <em class="text-xs text-aoc-gray-dark">
        - <%= link_to(@snippet.user.username, profile_path(@snippet.user.uid), class: "link-explicit group-hover:text-aoc-gray") %>
      </em>
    </div>
  </div>
</div>
