<div class="relative group/reaction">
  <div class="hidden group-hover/reaction:block absolute bottom-full left-0 px-2 py-0.5 mb-1 w-max bg-aoc-gray-darker text-xs">
    <%= EMOTES[@reaction_type][:tooltip] %>
  </div>

  <%= button_to reactions_path(@snippet.id),
                class: "flex gap-x-2 items-center border px-2 rounded-full #{@snippet.user_id == @user.id ? 'cursor-not-allowed' : 'cursor-pointer hover:bg-aoc-green/15 active:bg-aoc-green/10'}",
                params: { reaction: { reaction_type: @reaction_type } },
                data: { reactions_target: "button", reaction_type: @reaction_type, action: "click->reactions#handleClick" },
                disabled: @snippet.user_id == @user.id do %>
      <span>
        <%= EMOTES[@reaction_type][:emote] %>
      </span>
      <span data-reactions-target="counter"
            data-reaction-type="<%= @reaction_type %>"
            class="font-semibold">
        <%= @reactions.size %>
      </span>
  <% end %>
</div>
