<%= render PageTitleComponent.new(title: "The Wall") %>

<p class="my-8 flex flex-col gap-y-4">
  <span class="text-left">You have just entered The Wall of uncertainty.</span>
  <span class="text-center">A Wall to admire. A Wall to cherish. A Wall with holes from the past.</span>
  <span class="text-right">A Wall to build. A Wall to break. A Wall to grow.</span>
</p>

<%= form_with model: @message, class: "relative my-4 mx-auto w-full max-w-2xl flex flex-col gap-y-2" do |f| %>
  <%= image_tag "dijkstra/pages/the_wall.svg",
                title: "Busses SUPplEMent badly",
                class: "w-32 h-32 absolute top-0 -right-48" %>

  <%= f.text_area :content, placeholder: "We do what we must because we can.", rows: 4, class: "w-full input" %>

  <%= f.submit "Send", class: "w-fit self-end button" %>
<% end %>

<div class="flex flex-col gap-y-3">
  <%= render Messages::BoxComponent.with_collection(@messages, user: current_user) %>
</div>
