<div class="my-12 mx-4 sm:mx-auto max-w-screen-2xl flex flex-col gap-y-12">
  <div>
    <h2 class="text-center text-lg text-aoc-atmospheric text-shadow-atmospheric">
      Batch #<%= @batch.number %>
    </h2>

    <div class="my-4 mx-auto max-w-4xl">
      <p class="paragraph">Synthesis of your batch contributors per challenge.</p>
    </div>

    <div class="my-4 w-full max-w-max mx-auto text-lg text-right leading-tight flex flex-col">
      <div class="mb-2 flex space-x-5 px-3">
        <span class="w-6">Day</span>
        <span class="w-24 text-aoc-silver">Part 1</span>
        <span class="w-24 text-aoc-gold">Part 2</span>
      </div>

      <% 1.upto(@latest_day).reverse_each do |day| %>
        <%= link_to "https://adventofcode.com/2021/day/#{day}", target: :blank, class: "flex space-x-5 hover:bg-aoc-gray hover:bg-opacity-10 px-3" do %>
          <span class="w-6"><%= day %></span>
          <span class="w-24 <%= "text-red" if (@daily_contributors.dig(day, 0) || 0) < @max_contributors %>"><%= @daily_contributors.dig(day, 0) || 0 %>/<%= @max_contributors %></span>
          <span class="w-24 <%= "text-red" if (@daily_contributors.dig(day, 1) || 0) < @max_contributors %>"><%= @daily_contributors.dig(day, 1) || 0 %>/<%= @max_contributors %></span>
        <% end %>
      <% end %>
    </div>

    <div class="my-4 mx-auto max-w-4xl">
      <p class="paragraph">The <span class="strong">Local score</span> is the score as if batch #<%= @batch.number %> was running its own leaderboard, <em>ignoring everybody else</em>. In this local scope, the first player to solve a challenge earns <span class="strong"><%= pluralize(@batch_mates.count, "point") %></span>.
      The <span class="strong">Contribution</span> is the amount of points each player has contributed to the global batch score, which is currently <span class="text-aoc-atmospheric text-shadow-atmospheric"><%= @batch.batch_score.in_contest.to_i %> points</span>.</p>
    </div>

    <table class="my-4 max-w-4xl w-full mx-auto">
      <thead>
        <tr class="text-aoc-gray border-b border-aoc-gray-darker">
          <th class="w-1/12 font-normal"></th>
          <th class="w-3/12 font-normal"></th>
          <th class="w-2/12 font-normal">City</th>
          <th class="w-2/12 font-normal">Local score</th>
          <th class="w-1/12 font-normal">Contribution</th>
          <th class="w-2/12 font-normal">Score 🌐</th>
          <th class="w-1/12 font-normal">Rank 🌐</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <% [nil, *@batch_mates].each_cons(2) do |(previous_user, user)| %>

          <tr class="hover:bg-aoc-gray hover:bg-opacity-10 <%= "bg-opacity-10 bg-aoc-green-flash" if user[:username] == current_user.username %>">

            <td class="py-1 <%= class_names(ranking_css(user.rank.in_batch, rank_col: true)) %>">
              <%= user.rank.in_batch unless user.rank.in_batch == previous_user&.rank&.in_batch %>
            </td>

            <td class="<%= class_names(ranking_css(user.rank.in_batch)) %>">
              <%= link_to stats_user_path(user), class: "flex justify-center" do %>
                <div class="flex">
                  <%= user.username %>
                  <%= image_tag("parrot.gif", class: "w-5 h-5 ml-2") if user.uid.in? contributor_ids %>
                </div>
              <% end %>
            </td>

            <td>
              <%= link_to stats_user_path(user), class: "flex justify-center" do %>
                <%= user.city&.name || "–" %>
              <% end %>
            </td>

            <td class="strong text-lg">
              <%= link_to stats_user_path(user), class: "flex justify-center" do %>
                <%= user.score.in_batch.to_i %>
              <% end %>
            </td>

            <td>
              <%= link_to stats_user_path(user), class: "flex justify-center" do %>
                <%= user.batch_contributions.sum(:points).to_i %>
              <% end %>
            </td>

            <td>
              <%= link_to stats_user_path(user), class: "flex justify-center" do %>
                <%= user.score.in_contest.to_i %>
              <% end %>
            </td>

            <td>
              <%= link_to stats_user_path(user), class: "flex justify-center" do %>
                <%= user.rank.in_contest %>
              <% end %>
            </td>

          </tr>

        <% end %>
      </tbody>
    </table>
  </div>
</div>
