<h2 class="flex flex-wrap gap-x-6">
  <span class="strong">Solutions</span>
  <span>·</span>
  <%= link_to "Day #{@day}", day_path(@day), class: "link-explicit link-internal" %>
  <span>·</span>
  <span>Part <%= @challenge %></span>
</h2>

<%= form_with model: @snippet, url: snippet_path, class: "my-8 w-full flex flex-col gap-y-2" do |f| %>
  <%= f.text_area :code, placeholder: @text_area_placeholder, rows: 8, class: "w-full text-sm resize input", wrap: :off %>
  <div class="flex gap-x-2">
    <%= f.select(:language, Snippet::LANGUAGES.invert.to_a, { prompt: "What language?", selected: current_user.favourite_language }, class: "input") %>
    <%= f.submit "Submit", class: "w-fit self-end button" %>
  </div>
<% end %>

<hr class="border-aoc-gray-darker">

<div class="my-4 flex items-center justify-end gap-x-4 flex-wrap">
  <% @languages.each do |language| %>
    <%= link_to snippet_path(day: @day, challenge: @challenge, id: @snippet.id, language: language == @language ? nil : language) do %>
      <%= inline_svg_tag(
        "languages/#{language}.svg",
        class: "h-8 transition-all hover:opacity-100 #{@language == language ? 'opacity-90' : @language.nil? ? 'opacity-80' : 'opacity-50'}",
        title: Snippet::LANGUAGES[language.to_sym]
      ) %>
    <% end %>
  <% end %>
</div>

<div class="flex flex-col gap-y-4">
  <%= render Snippets::BoxComponent.with_collection(@snippets, user: current_user) %>
</div>
