<%= render PageTitleComponent.new(title: "Account settings") %>

<%= render UserFormComponent.new(user: current_user) %>

<hr class="my-4 border-aoc-gray-darker">

<%= render PageTitleComponent.new(title: "Squad settings") %>

<% if current_user.squad_id.nil? %>

  <%= form_with model: @squad, url: join_squad_path, class: "my-4 flex w-max mx-auto items-end gap-x-2" do |f| %>
    <%= f.number_field :pin, placeholder: "Squad PIN", class: "input w-32" %>

    <%= f.submit "Join squad", class: "button" %>
  <% end %>

  <%= form_with model: @squad, url: create_squad_path, class: "w-max mx-auto" do |f| %>
    <%= f.submit "Create new squad", class: "button w-64" %>
  <% end %>

<% else %>

  <p class="my-4">Members: <%= @squad.users.pluck(:username).join(", ") %></p>

  <%= form_with model: @squad, url: update_squad_path(@squad), class: "my-4 flex flex-col w-max mx-auto items-end gap-y-2" do |f| %>
    <div class="flex flex-col gap-y-1 sm:flex-row sm:items-center sm:gap-x-3">
      <%= f.label :pin %>
      <%= f.number_field :pin, value: @squad.pin, class: "input", disabled: true %>
    </div>

    <div class="flex flex-col gap-y-1 sm:flex-row sm:items-center sm:gap-x-3">
      <%= f.label :name %>
      <%= f.text_field :name, value: @squad.name, class: "input" %>
    </div>

    <%= f.submit "Save", class: "button" %>
  <% end %>

  <%= button_to "Leave squad", leave_squad_path, method: :delete, data: { turbo: false }, class: "my-4 flex w-max mx-auto button-red" %>

<% end %>
