<%# HEADER %>

<div class="flex flex-col gap-y-2">
  <div class="text-lg flex justify-between">
    <div class="flex flex-wrap gap-x-6">
      <h2 class="strong">
        <%= @user.username %>
        <% if @user.years_of_service > 0 %>
          <%= inline_svg_tag "years_of_service/#{@user.years_of_service}.svg",
                             class: "h-8 w-8 inline-block",
                             title: "#{pluralize(@user.years_of_service, 'year')} of service" %>
        <% end %>
      </h2>

      <% if @user.slack_id.present? %>
        <span>·</span>
        <%= link_to "@#{@user.slack_username}",
                    @user.slack_link,
                    target: :_blank,
                    rel: :noopener,
                    class: "link-explicit link-slack" %>
      <% end %>

      <% if @user.favourite_language.present? %>
        <span>·</span>
        <%= inline_svg_tag "languages/#{@user.favourite_language}.svg",
                           class: "h-6 self-center",
                           title: @user.favourite_language %>
      <% end %>
    </div>

    <div class="flex flex-wrap gap-x-6">
      <span>
        <% if @silver_stars > 0 %>
          <span class="text-aoc-silver"><%= @silver_stars %>*</span>
        <% end %>
        <span class="text-aoc-gold"><%= @gold_stars %>*</span>
      </span>
    </div>
  </div>

  <div class="flex justify-between">
    <div class="flex flex-wrap gap-x-6">
      <% if @user.batch_id.present? %>
        <span>#<%= @user.batch.number %></span>
      <% end %>

      <% if @user.batch_id.present? && @user.city_id.present? %>
        <span>·</span>
      <% end %>

      <% if @user.city_id.present? %>
        <span><%= @user.city.vanity_name %></span>
      <% end %>
    </div>

    <div class="flex flex-wrap gap-x-6">
      <% if @user_squad.present? %>
        <%= link_to squad_path(@user_squad.id), class: "link-explicit" do %>
          <%= @user_squad.name %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%# ACCOUNT SETTINGS %>

<% if @user == current_user %>

  <hr class="my-4 border-aoc-gray-darker">

  <%= render PageTitleComponent.new(title: "Account settings") %>

  <div class="my-4">
    <%= render Users::AccountSettingsComponent.new(user: current_user) %>
  </div>

  <hr class="my-4 border-aoc-gray-darker">

  <%= render PageTitleComponent.new(title: "Squad settings") %>

  <div class="my-4 flex flex-col gap-y-2">
    <% if current_user.squad_id.nil? %>

      <%= form_with model: @account_squad, url: join_squad_path, class: "relative flex w-max mx-auto items-end gap-x-2" do |f| %>
        <%= image_tag "dijkstra/pages/squad_settings.svg",
                      alt: "dijkstra",
                      title: "Apes. Together. Strong.",
                      class: "w-32 h-32 absolute -top-4 -right-48" %>

        <%= f.number_field :pin, placeholder: "Squad PIN", class: "input w-32" %>

        <%= f.submit "Join squad", class: "button" %>
      <% end %>

      <%= form_with model: @account_squad, url: create_squad_path, class: "w-max mx-auto" do |f| %>
        <%= f.submit "Create new squad", class: "button w-64" %>
      <% end %>

    <% else %>

      <p class="my-4">
        Members: <%= safe_join(@account_squad.users.map do |user|
                       link_to user.username, profile_path(user.uid), class: "strong hover:text-gold"
                     end, ", ") %>
      </p>

      <%= form_with model: @account_squad,
                    url: update_squad_path(@account_squad),
                    class: "flex flex-col w-max mx-auto items-end gap-y-2" do |f| %>

        <div class="flex flex-col gap-y-1 sm:flex-row sm:items-center sm:gap-x-3">
          <%= f.label :name %>
          <%= f.text_field :name, value: @account_squad.name, class: "input", maxlength: 16 %>
        </div>

        <div data-controller="clipboard"
             data-clipboard-content-value="<%= @account_squad.pin %>"
             class="flex flex-col gap-y-1 sm:flex-row sm:items-center sm:gap-x-3 relative">
          <span>PIN:</span>
          <code class="w-48 text-center tracking-[0.5rem] copyable"
                data-action="click->clipboard#copy"><%= @account_squad.pin %></code>
          <span data-clipboard-target="feedback" class="hidden absolute -top-4 right-0 text-xs">Copied!</span>
        </div>

        <%= f.submit "Save", class: "button" %>
      <% end %>

      <%= button_to "Leave squad",
                    leave_squad_path,
                    method: :delete,
                    data: { turbo: false },
                    class: "flex w-max mx-auto button-red" %>

    <% end %>
  </div>

<% end %>

<%# DAILY COMPLETIONS %>

<hr class="my-4 border-aoc-gray-darker">

<div class="my-4 pb-2 block overflow-x-auto max-w-full">
  <table class="mx-auto text-right leading-tight">
    <tr>
      <th rowspan="2" class="align-bottom font-light">Day</th>
      <th colspan="2" class="font-light text-aoc-silver">- Part 1 -</th>
      <th colspan="2" class="font-light text-aoc-gold">- Part 2 -</th>
    </tr>
    <tr>
      <th class="w-24 font-light">Time</th>
      <th class="w-16 font-light">Score</th>
      <th class="w-24 font-light">Time</th>
      <th class="w-16 font-light">Score</th>
    </tr>

    <% @daily_completions.each_with_index do |completion, day| %>
      <tr>
        <th class="font-light"><%= @latest_day - day %></th>
        <% [0, 1].each do |part| %>
          <% if completion[part] %>
            <td><%= duration_as_text(completion[part][:duration]) %></td>
            <td><%= completion[part][:score] %></td>
          <% else %>
            <td colspan="2">-</td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
