<div class="text-lg flex flex-wrap flex-col sm:flex-row items-center sm:justify-between">
  <div class="flex flex-wrap gap-x-6">
    <h2 class="strong"><%= @user.username %></h2>

    <% if @user.batch_id.present? %>
      <span>·</span>
      <span>batch #<%= @user.batch.number %></span>
    <% end %>

    <span>·</span>
    <span><%= @user.city.vanity_name %></span>
  </div>
</div>

<div class="my-4 flex flex-wrap justify-center gap-2">
  <% if @squad_stats.present? %>
    <%= link_to squad_path(@squad_stats[:id]), class: "w-36 h-36 p-2 flex flex-col justify-between border border-aoc-gray-darker bg-aoc-gray-darkest hover:bg-aoc-gray-darker" do %>
      <h3 class="h-2/5 flex items-center justify-center strong text-center text-lg">
        <%= @squad_stats[:name] %>
      </h3>

      <div class="h-3/5 flex flex-col justify-around">
        <span class="flex items-center justify-center text-aoc-atmospheric text-lg">
          <%= @squad_stats[:score] %> pts
        </span>

        <span class="flex items-center justify-center text-lg">
          <%= @squad_stats[:rank] %><sup><%= @squad_stats[:rank].ordinal %></sup>
        </span>
      </div>
    <% end %>
  <% end %>
</div>

<div class="my-4 pb-2 block overflow-x-auto max-w-full">
  <table class="mx-auto text-right leading-tight">
    <tr>
      <th rowspan="2" class="align-bottom font-light">Day</th>
      <th colspan="2" class="font-light text-aoc-silver">- Part 1 -</th>
      <th colspan="2" class="font-light text-aoc-gold">- Part 2 -</th>
    </tr>
    <tr>
      <th class="w-24 font-light">Time</th>
      <th class="w-16 font-light">Score</th>
      <th class="w-24 font-light">Time</th>
      <th class="w-16 font-light">Score</th>
    </tr>

    <% @daily_completions.each_with_index do |completion, day| %>
      <tr>
        <th class="font-light"><%= @latest_day - day %></th>

        <% if completion[0] %>
          <td><%= duration_as_text(completion[0].duration) %></td>
          <td><%= "" %></td>
        <% else %>
          <td>-</td>
          <td>-</td>
        <% end %>

        <% if completion[1] %>
          <td><%= duration_as_text(completion[1].duration) %></td>
          <td><%= "" %></td>
        <% else %>
          <td>-</td>
          <td>-</td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
