<div class="my-4 flex flex-col gap-y-2">
  <div class="text-xl flex justify-between">
    <div class="flex flex-wrap gap-x-6">
      <h2 class="strong"><%= @user.username %></h2>

      <% if @user.slack_id.present? %>
        <span>·</span>
        <%= link_to "@#{@user.slack_username}", @user.slack_link, target: :_blank, rel: :noopener, class: "link-explicit link-slack" %>
      <% end %>

      <% if @user.favourite_language.present? %>
        <span>·</span>
        <%= image_tag "languages/#{@user.favourite_language}.png", class: "h-6 self-center transition-all opacity-80" %>
      <% end %>
    </div>

    <div class="flex flex-wrap gap-x-6">
      <span>
        <% if @insanity_stats.present? %>
          <% if @insanity_stats[:silver_stars] > 0 %>
            <span class="text-aoc-silver"><%= @insanity_stats[:silver_stars] %>*</span>
          <% end %>
          <span class="text-aoc-gold"><%= @insanity_stats[:gold_stars] %>*</span>
        <% else %>
          <span class="text-aoc-gold">0*</span>
        <% end %>
      </span>
    </div>
  </div>

  <div class="flex justify-between">
    <div class="flex flex-wrap gap-x-6">
      <% if @user.batch_id.present? %>
        <span>#<%= @user.batch.number %></span>
        <span>·</span>
      <% end %>

      <span><%= @user.city.vanity_name %></span>
    </div>

    <div class="flex flex-wrap gap-x-6">
      <% if @squad_stats.present? %>
        <%= link_to squad_path(@squad_stats[:id]), class: "link-explicit" do %>
          <%= @squad_stats[:name] %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="my-4 pb-2 block overflow-x-auto max-w-full">
  <table class="mx-auto text-right leading-tight">
    <tr>
      <th rowspan="2" class="align-bottom font-light">Day</th>
      <th colspan="2" class="font-light text-aoc-silver">- Part 1 -</th>
      <th colspan="2" class="font-light text-aoc-gold">- Part 2 -</th>
    </tr>
    <tr>
      <th class="w-24 font-light">Time</th>
      <th class="w-16 font-light">Score</th>
      <th class="w-24 font-light">Time</th>
      <th class="w-16 font-light">Score</th>
    </tr>

    <% @daily_completions.each_with_index do |completion, day| %>
      <tr>
        <th class="font-light"><%= @latest_day - day %></th>
        <% [0, 1].each do |part| %>
          <% if completion[part] %>
            <td><%= duration_as_text(completion[part].duration) %></td>
            <td></td>
          <% else %>
            <td colspan="2">-</td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
