<header>
  <div class="my-8 select-none">
    <h1 class="text-center text-xl">
      <span class="text-wagon-red text-shadow-red">Le Wagon</span>
      <span>x</span>
      <span class="text-aoc-green-flash text-shadow-green">Advent of Code</span>
    </h1>

    <div data-controller="countdown" data-countdown-refresh-interval-value="23" class="hidden my-4 text-2xl text-aoc-atmospheric">
      <div class="flex items-center justify-center gap-x-3">
        <%= image_tag("parrot.gif", class: "hidden w-5 h-5", data: { "countdown-target": "party" }) %>

        <div>
          <span data-countdown-target="hours"></span>:<span data-countdown-target="minutes"></span>:<span data-countdown-target="seconds"></span>.<span data-countdown-target="milliseconds"></span>
        </div>

        <%= image_tag("parrot.gif", class: "hidden w-5 h-5", data: { "countdown-target": "party" }) %>
      </div>
    </div>
  </div>

  <% if user_signed_in? %>

    <div class="mx-auto px-4 py-2 max-w-xl flex justify-between items-center border-b border-aoc-gray-darker select-none">
      <%= link_to "Q&A", about_path, class: "text-center text-aoc-green-flash hover:text-shadow-green" %>
      <%= link_to "dashboard", root_path, class: "link" %>
      <%= link_to "scoreboards", scoreboard_path, class: "link" %>
      <%= link_to "stats", stats_path, class: "link" %>
      <%= link_to "settings", settings_path, class: "link" %>
      <%= link_to destroy_user_session_path, method: :delete, class: "hover:text-wagon-red" do %>
        <i class="fas fa-power-off"></i>
      <% end %>
    </div>

  <% end %>
</header>
