<header>
  <h1 class="my-8 text-center text-xl select-none">
    <span class="text-wagon-red text-shadow-red">Le Wagon</span>
    <span>x</span>
    <span class="text-aoc-green-flash text-shadow-green">Advent of Code</span>
  </h1>

  <% if user_signed_in? %>

    <div id="header-links" class="mx-auto px-4 py-2 max-w-md flex justify-between items-center border-b border-aoc-gray-darker select-none">
      <%= link_to "?", about_path, id: "about", class: "px-2 text-xl font-semibold text-center text-aoc-green-flash hover:text-shadow-green" %>
      <%= link_to "", root_path, id: "dashboard", class: "px-2 hover:text-aoc-gold hover:text-shadow-gold" %>
      <%= link_to "", scoreboard_path, id: "scoreboard", class: "px-2 hover:text-aoc-gold hover:text-shadow-gold" %>
      <%= link_to "", settings_path, id: "settings", class: "px-2 hover:text-aoc-gold hover:text-shadow-gold" %>
      <%= link_to destroy_user_session_path, method: :delete, class: "px-2 hover:text-wagon-red" do %>
        <i class="fas fa-power-off"></i>
      <% end %>
    </div>

  <% end %>
</header>
