<header>
  <% if ENV["ANNOUNCEMENT"].present? %>
    <div id="announcement" class="flex justify-center bg-aoc-gray">
      <p class="max-w-6xl paragraph text-dark text-center font-semibold tracking-tighter"><%= ENV["ANNOUNCEMENT"] %>
      For real time information, please follow <%= link_to "the announcement thread on #general", "https://lewagon-alumni.slack.com/archives/C02NE024R/p1637256531355700", target: :blank, class: "text-aoc-gray-dark hover:text-aoc-gray-darker" %>.
      </p>
    </div>
  <% end %>

  <div class="my-8 select-none">
    <h1 class="text-center text-xl">
      <span class="text-wagon-red text-shadow-red">Le Wagon</span>
      <span>x</span>
      <span class="text-aoc-green-flash text-shadow-green">Advent of Code</span>
    </h1>

    <div data-controller="countdown" data-countdown-refresh-interval-value="23" class="my-4 text-2xl text-aoc-atmospheric">
      <div class="flex items-center justify-center gap-x-3">
        <%= image_pack_tag("parrot.gif", class: "hidden w-5 h-5", data: { "countdown-target": "party" }) %>

        <div>
          <span data-countdown-target="hours"></span>:<span data-countdown-target="minutes"></span>:<span data-countdown-target="seconds"></span>.<span data-countdown-target="milliseconds"></span>
        </div>

        <%= image_pack_tag("parrot.gif", class: "hidden w-5 h-5", data: { "countdown-target": "party" }) %>
      </div>
    </div>
  </div>

  <% if user_signed_in? %>

    <div id="header-links" class="mx-auto px-4 py-2 max-w-md flex justify-between items-center border-b border-aoc-gray-darker select-none">
      <%= link_to "?", about_path, id: "about", class: "px-2 text-xl font-semibold text-center text-aoc-green-flash hover:text-shadow-green" %>
      <%= link_to "", root_path, id: "dashboard", class: "px-2 hover:text-aoc-gold hover:text-shadow-gold" %>
      <%= link_to "", scoreboard_path, id: "scoreboard", class: "px-2 hover:text-aoc-gold hover:text-shadow-gold" %>
      <%= link_to "", settings_path, id: "settings", class: "px-2 hover:text-aoc-gold hover:text-shadow-gold" %>
      <%= link_to destroy_user_session_path, method: :delete, class: "px-2 hover:text-wagon-red" do %>
        <i class="fas fa-power-off"></i>
      <% end %>
    </div>

  <% end %>
</header>
