<tr>
  <td class="text-center">
    <%= link_to profile_path(@user[:uid]) do %>
      <%= @user[:username] %>
    <% end %>
  </td>
  <td><%= duration_as_text(@user[:part_1]) %></td>
  <td><%= duration_as_text(@user[:part_2]) %></td>
  <td><%= @user[:score] %></td>
</tr>
