<tr class="hover:bg-hover">
  <td>
    <%= link_to profile_path(@user[:uid]), class: "flex justify-center" do %>
      <%= @user[:username] %>
    <% end %>
  </td>
    <td>
    <%= link_to profile_path(@user[:uid]), class: "flex justify-end" do %>
      <%= duration_as_text(@user[:part_1]) %>
    <% end %>
  </td>
    <td>
    <%= link_to profile_path(@user[:uid]), class: "flex justify-end" do %>
      <%= duration_as_text(@user[:part_2]) %>
    <% end %>
  </td>
  <td>
    <%= link_to profile_path(@user[:uid]), class: "flex justify-end" do %>
      <%= @user[:score] %>
    <% end %>
  </td>
</tr>
