<%# The scale-100 trick is to make the last td absolute, relative to the tr  %>

<tr class="scale-100 hover:bg-hover <%= "bg-aoc-green bg-opacity-20" if @squad[:id] == @user.squad_id %>">
  <td class="<%= class_names(rank_css(@squad[:rank])) %>">
    <%= link_to squad_path(@squad[:id]), class: "flex justify-center" do %>
      <%= (@squad[:rank] if @squad[:display_rank]) || "&nbsp".html_safe %>
    <% end %>
  </td>

  <td>
    <%= link_to squad_path(@squad[:id]), class: "flex justify-center" do %>
      <%= @squad[:name] %>
    <% end %>
  </td>

  <td class="py-1 strong text-lg">
    <%= link_to squad_path(@squad[:id]), class: "flex justify-center" do %>
      <%= @squad[:score] %>
    <% end %>
  </td>

  <td>
    <%= link_to squad_path(@squad[:id]), class: "flex justify-center" do %>
      <%= @squad[:total_members] %>
    <% end %>
  </td>

  <td>
    <%= link_to squad_path(@squad[:id]), class: "flex justify-center" do %>
      <%= @squad[:daily_score] || 0 %>
    <% end %>
  </td>

  <%= render Scores::RankEvolutionCellComponent.new(previous_rank: @squad[:previous_rank], current_rank: @squad[:rank]) %>
</tr>
