<%# The scale-100 trick is to make the last td absolute, relative to the tr %>

<tr class="scale-100 hover:bg-hover <%= "bg-aoc-green bg-opacity-20" if @user && @squad[:id] == @user.squad_id %>">
  <td class="<%= class_names(rank_css(@squad[:rank])) %>">
    <%= link_to squad_path(@squad[:id]), class: "flex justify-center" do %>
      <%= (@squad[:rank] if @squad[:display_rank]) || "&nbsp".html_safe %>
    <% end %>
  </td>

  <td>
    <%= link_to squad_path(@squad[:id]), class: "flex justify-center" do %>
      <%= @squad[:name] %>
    <% end %>
  </td>

  <td class="py-1 text-lg">
    <%= link_to squad_path(@squad[:id]), class: "flex justify-center gap-x-1" do %>
      <% if @squad[:silver_stars] > 0 %>
        <span class="text-silver"><%= @squad[:silver_stars] %>*</span>
      <% end %>

      <span class="text-gold"><%= @squad[:gold_stars] %>*</span>
    <% end %>
  </td>

  <td>
    <%= link_to squad_path(@squad[:id]), class: "flex justify-center" do %>
      <%= @squad[:total_members] %>
    <% end %>
  </td>

  <td>
    <%= link_to squad_path(@squad[:id]), class: "flex justify-center" do %>
      <%= @squad[:score] %>
    <% end %>
  </td>
</tr>
