<%# The scale-100 trick is to make the last td absolute, relative to the tr  %>

<tr class="scale-100 hover:bg-aoc-gray/10
          <%= "bg-aoc-green/20" if @user && @participant[:uid] == @user.uid.to_i %>
          <%= "text-aoc-gray-dark" if @colorize_hardcore && @participant[:entered_hardcore] %>">

  <td class="<%= class_names(rank_css(@participant[:rank])) %>">
    <%= link_to profile_path(@participant[:uid]), class: "flex justify-center" do %>
      <%= (@participant[:rank] if @participant[:display_rank]) || "&nbsp".html_safe %>
    <% end %>
  </td>

  <td class="py-1 max-w-[12rem]">
    <%= link_to profile_path(@participant[:uid]), class: "flex justify-center items-center truncate" do %>
      <%= @participant[:username] %>
      <% if @participant[:years_of_service] > 0 %>
        <%= inline_svg_tag "years_of_service/#{@participant[:years_of_service]}.svg",
                           class: "h-6 w-6 inline-block ml-1",
                           title: "#{@participant[:years_of_service]} years of service" %>
      <% end %>
      <%= image_tag("aoc.gif", class: "w-5 h-5 ml-1") if @participant[:contributor] %>
    <% end %>
  </td>

  <td class="text-lg strong">
    <%= link_to profile_path(@participant[:uid]), class: "flex justify-center" do %>
      <%= @participant[:score] %>
    <% end %>
  </td>

  <td>
    <%= link_to profile_path(@participant[:uid]), class: "flex justify-center gap-x-1" do %>
      <% if @participant[:silver_stars] > 0 %>
        <span class="text-aoc-silver"><%= @participant[:silver_stars] %>*</span>
      <% end %>

      <span class="text-aoc-gold"><%= @participant[:gold_stars] %>*</span>
    <% end %>
  </td>

  <td>
    <%= link_to profile_path(@participant[:uid]), class: "flex justify-center" do %>
      <%= @participant[:daily_score] || 0 %>
    <% end %>
  </td>

  <% if @extended %>

  <td>
    <%= link_to profile_path(@participant[:uid]), class: "flex justify-center" do %>
      <%= @participant[:squad_name] || "&nbsp".html_safe %>
    <% end %>
  </td>

  <td>
    <%= link_to profile_path(@participant[:uid]), class: "flex justify-center" do %>
      <%= @participant[:city_vanity_name] || "&nbsp".html_safe %>
    <% end %>
  </td>

  <td>
    <%= link_to profile_path(@participant[:uid]), class: "flex justify-center" do %>
      <%= @participant[:batch_number] || "&nbsp".html_safe %>
    <% end %>
  </td>

  <% end %>
</tr>
