<% if user_signed_in? %>

<div class="my-2 flex flex-wrap gap-2">
  <%= link_to "Blazer", blazer_path, target: :_blank, rel: :noopener, class: "button" %>
  <%= link_to "GoodJob", good_job_path, target: :_blank, rel: :noopener, class: "button" %>
  <%= link_to "/participation", participation_path, class: "button" %>
  <%= link_to "scores/solo", scores_solo_path, class: "button" %>
  <%= link_to "scores/squads", scores_squads_path, class: "button" %>
  <%= link_to "scores/campuses", scores_campuses_path, class: "button" %>
  <%= link_to "scores/insanity", scores_insanity_path, class: "button" %>
</div>

<div class="my-2">
  <%= form_with url: impersonate_path, method: :post do |form| %>
    <%= form.label :via_id, "Sign in as:" %>
    <%= form.text_field :identifier, placeholder: "id", class: "input" %>
    <%= form.hidden_field :attribute, value: "id" %>
    <%= form.submit "Go", class: "button" %>
  <% end %>

  <%= form_with url: impersonate_path, method: :post do |form| %>
    <%= form.label :via_uid, "Sign in as:" %>
    <%= form.text_field :identifier, placeholder: "uid", class: "input" %>
    <%= form.hidden_field :attribute, value: "uid" %>
    <%= form.submit "Go", class: "button" %>
  <% end %>

  <%= form_with url: impersonate_path, method: :post do |form| %>
    <%= form.label :via_aoc_id, "Sign in as:" %>
    <%= form.text_field :identifier, placeholder: "aoc_id", class: "input" %>
    <%= form.hidden_field :attribute, value: "aoc_id" %>
    <%= form.submit "Go", class: "button" %>
  <% end %>
</div>

<div class="my-2">
  <p>Useful commands, assuming <code>alias aoc="ssh dokku@aoc.lewagon.engineering"</code>:</p>

  <ul>
    <li><code>aoc -t run aoc rails c</code> connects to the console</li>
    <li><code>aoc logs aoc --tail</code> shows the live logs</li>
    <li><code>aoc config aoc</code> shows the config and env variables</li>
    <li><code>aoc -t postgres:connect aoc</code> connects to the database to run SQL</li>
    <li><code>aoc -t postgres:export aoc > YYYYMMDD-lewagon-aoc.dump</code> creates a backup of the database</li>
    <li>See more on <%= link_to "Dokku's doc", "https://dokku.com/docs/getting-started/installation/", class: "link-explicit link-external" %></li>
  </ul>
</div>

<% else %>

<div class="my-2 mx-auto">
  <%= button_to(
        user_kitt_omniauth_authorize_path,
        data: { turbo: false, controller: "disable-link", action: "disable-link#now" },
        class: "button"
      ) do %>
    Sign in with Kitt
  <% end %>
</div>

<% end %>
