<% if user_signed_in? %>

<div class="my-2 flex flex-wrap gap-2">
  <%= link_to "Blazer", blazer_path, target: :_blank, rel: :noopener, class: "button" %>
  <%= link_to "GoodJob", good_job_path, target: :_blank, rel: :noopener, class: "button" %>
  <%= link_to "/participation", participation_path, class: "button" %>
  <%= link_to "scores/solo", scores_solo_path, class: "button" %>
  <%= link_to "scores/squads", scores_squads_path, class: "button" %>
  <%= link_to "scores/campuses", scores_campuses_path, class: "button" %>
  <%= link_to "scores/insanity", scores_insanity_path, class: "button" %>
</div>

<div class="my-2">
  <%= form_with url: impersonate_path, method: :post do |form| %>
    <%= form.label :via_id, "Sign in as:" %>
    <%= form.text_field :identifier, placeholder: "id", class: "input" %>
    <%= form.hidden_field :attribute, value: "id" %>
    <%= form.submit "Go", class: "button" %>
  <% end %>

  <%= form_with url: impersonate_path, method: :post do |form| %>
    <%= form.label :via_uid, "Sign in as:" %>
    <%= form.text_field :identifier, placeholder: "uid", class: "input" %>
    <%= form.hidden_field :attribute, value: "uid" %>
    <%= form.submit "Go", class: "button" %>
  <% end %>

  <%= form_with url: impersonate_path, method: :post do |form| %>
    <%= form.label :via_aoc_id, "Sign in as:" %>
    <%= form.text_field :identifier, placeholder: "aoc_id", class: "input" %>
    <%= form.hidden_field :attribute, value: "aoc_id" %>
    <%= form.submit "Go", class: "button" %>
  <% end %>
</div>

<div class="my-2">
  <p>Useful commands, assuming <code>alias aoc="ssh dokku@aoc.lewagon.engineering"</code>:</p>

  <ul>
    <li><code>aoc -t run aoc rails c</code> connects to the console</li>
    <li><code>aoc logs aoc --tail</code> shows the live logs</li>
    <li><code>aoc config aoc</code> shows the config and env variables</li>
    <li><code>aoc -t postgres:connect aoc</code> connects to the database to run SQL</li>
    <li><code>aoc -t postgres:export aoc > YYYYMMDD-lewagon-aoc.dump</code> creates a backup of the database</li>
    <li>See more on <%= link_to "Dokku's doc", "https://dokku.com/docs/getting-started/installation/", class: "link-explicit link-external" %></li>
  </ul>
</div>

<div class="my-2">
  <pre class="snippet break-words text-sm" data-language="ruby">
    <%= raw render_markdown <<~RUBY, default_language: "ruby"
          ```ruby
          # How to reset a year

          # 1. Change year in Aoc.year

          # 2. Create and run migration for the hardcoded begin time in the completion virtual columns

          # 3. Adjust the FAQ

          # 4. Check the cron jobs

          # 5. Reset the database

          Cache::SoloPoint.destroy_all
          Cache::SoloScore.destroy_all
          Cache::InsanityPoint.destroy_all
          Cache::InsanityScore.destroy_all
          Cache::CityPoint.destroy_all
          Cache::CityScore.destroy_all
          Cache::UserDayScore.destroy_all
          Cache::SquadPoint.destroy_all
          Cache::SquadScore.destroy_all
          State.destroy_all
          State.create!(fetch_api_begin: Time.at(0).utc, fetch_api_end: Time.at(0).utc)
          Completion.destroy_all
          Achievement.destroy_all
          Buddy.destroy_all
          Message.destroy_all
          Reaction.destroy_all
          Snippet.destroy_all
          User.destroy_all
          Squad.destroy_all
          # Sign in as pil0u, make him admin, contributor, beta_tester
          User.first.update!(roles: %i[admin contributor beta_tester])
          # { pilou: "6788", aquaj: "449", louis: "19049" }
          ```
        RUBY
    %>
  </pre>
</div>

<% else %>

<div class="my-2 mx-auto">
  <%= button_to(
        user_kitt_omniauth_authorize_path,
        data: { turbo: false, controller: "disable-link", action: "disable-link#now" },
        class: "button"
      ) do %>
    Sign in with Kitt
  <% end %>
</div>

<% end %>
