<p class="text-lg">
  Welcome, <%= link_to current_user.username, profile_path(current_user.uid), class: "strong hover:text-gold" %>
</p>

<% if @daily_buddy.present? %>
  <p class="text-center">
    Your daily buddy is

    <% if @daily_buddy.slack_id.present? %>
      <%= link_to "@#{@daily_buddy.slack_username}", @daily_buddy.slack_link, target: :_blank, rel: :noopener, class: "link-explicit link-slack" %>
    <% else %>
      <%= link_to @daily_buddy.username, profile_path(@daily_buddy.uid), class: "link-explicit" %>
    <% end %>
  </p>
<% end %>

<div class="mx-auto my-4 w-max grid grid-cols-5 gap-2 lg:gap-3">
  <% @advent_days.each_with_index do |advent_day, index| %>
    <% if advent_day %>
      <%= render Calendar::AdventDayComponent.new(advent_day: advent_day, now: @now) %>
    <% elsif index == 12 && @all_puzzles_solved %>
      <%= image_tag "parrot.gif", class: "w-14 h-14 lg:w-20 lg:h-20" %>
    <% elsif index == 12 && @today_puzzle_solved %>
      <span class="flex items-center justify-center text-3xl lg:text-4xl snowflake">❄️</span>
    <% else %>
      <div></div>
    <% end %>
  <% end %>
</div>

<p class="text-center">Next puzzle in <%= distance_of_time_in_words(@now, @next_puzzle_time) %></p>
