<!DOCTYPE html>
<html lang="en" class="GLOBAL RESPONSIVENESS // lg:text-lg" style="scrollbar-gutter: stable both-edges;">
  <head>
    <title>Le Wagon x Advent of Code</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag "favicon.png" %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="font-mono font-light text-aoc-gray bg-dark min-h-screen flex flex-col">
    <header class="flex flex-col mx-auto">
      <%= render Header::TitleComponent.new %>
    </header>

    <main class="m-auto">
      <div data-controller="countdown"
           data-countdown-launch-date-value="<%= Aoc.lewagon_launch_time.strftime("%Y/%m/%d %H:%M:%S %z") %>"
           class="text-3xl lg:text-6xl text-center h-[30vh]">
        <span data-countdown-target="days"></span>
        <span data-countdown-target="hours"></span>
        <span data-countdown-target="minutes"></span>
        <span data-countdown-target="seconds"></span>
        <span data-countdown-target="milliseconds"></span>

        <div data-countdown-target="dijkstra" class="mt-32">
          <%= image_tag "dijkstra/pages/countdown.svg",
                        title: "The cake is a lie",
                        class: "w-32 h-32 mx-auto" %>
        </div>
        <div data-countdown-target="enigma" class="hidden mt-16">
          <%= image_tag "enigma.svg", class: "w-64 h-64 mx-auto" %>
        </div>
      </div>
    </main>
  </body>
</html>
