<div class="my-8 text-center">
  <p>Authenticated as: <span class="strong"><%= current_user.username %></span></p>
  <p>Current sync status: <span class="<%= class_names(status_css(@status)) %>"><%= @status %></span></p>
  <p>Last data refresh: <span class="strong"><%= distance_of_time_in_words(@last_api_fetch, @now.utc, include_seconds: true) %></span> ago</p>
</div>

<% if @status == "OK" %>

  <div class="my-8 mx-4 sm:mx-auto max-w-6xl flex flex-wrap">
    <div class="dashboard-tile flex flex-col items-center">
      <div class="h-1/3 flex items-center">
        <h2 class="text-lg strong">Today's puzzle</h2>
      </div>

      <div class="h-1/2 flex items-center">
        <% if @day_of_december %>
          <%= link_to "> here <", "https://adventofcode.com/2021/day/#{@day_of_december}", target: :blank, class: "link-external text-2xl" %>
        <% else %>
          <span class="text-2xl">None 🤷</span>
        <% end %>
      </div>
    </div>

    <div class="dashboard-tile flex flex-col items-center">
      <div class="h-1/3 flex items-center">
        <h2 class="text-lg strong text-center">My rank</h2>
      </div>

      <div class="h-1/2 flex flex-col items-center justify-center gap-y-2">
        <span class="text-2xl"><%= @my_rank %><span class="text-aoc-gray-dark">/<%= User.count %></span></span>
        <span class="text-xl text-aoc-atmospheric text-shadow-atmospheric"><%= @my_score %> pts</span></span>
      </div>
    </div>

    <div class="dashboard-tile flex flex-col items-center">
      <div class="h-1/3 flex items-center">
        <h2 class="text-lg strong text-center">My batch rank</h2>
      </div>

      <div class="h-1/2 flex flex-col items-center justify-center gap-y-2">
        <span class="text-2xl"><%= @my_batch_rank %><span class="text-aoc-gray-dark">/<%= @sorted_batches.count %></span></span>
        <span class="text-xl text-aoc-atmospheric text-shadow-atmospheric"><%= @my_batch_score %> pts</span></span>
      </div>
    </div>

    <div class="dashboard-tile flex flex-col items-center">
      <div class="h-1/3 flex items-center">
        <h2 class="text-lg strong text-center">My city rank</h2>
      </div>

      <div class="h-1/2 flex flex-col items-center justify-center gap-y-2">
        <span class="text-2xl"><%= @my_city_rank %><span class="text-aoc-gray-dark">/<%= @sorted_cities.count %></span></span>
        <span class="text-xl text-aoc-atmospheric text-shadow-atmospheric"><%= @my_city_score %> pts</span></span>
      </div>
    </div>

    <div class="dashboard-tile flex flex-col items-center">
      <div class="h-1/3 flex items-center">
        <h2 class="text-lg strong text-center">My contribution</h2>
      </div>

      <div class="h-1/2 flex flex-col items-center justify-center gap-y-2">
        <div class="flex flex-col items-center leading-snug">
          <span>to my batch</span>
          <span class="text-lg text-aoc-atmospheric text-shadow-atmospheric"><%= @my_score_in_batch %> pts</span>
        </div>
        <div class="flex flex-col items-center leading-snug">
          <span>to my city</span>
          <span class="text-lg text-aoc-atmospheric text-shadow-atmospheric"><%= @my_score_in_city %> pts</span>
        </div>
      </div>
    </div>

    <div class="dashboard-tile border-r flex flex-col items-center">
      <div class="h-1/3 flex items-center">
        <h2 class="text-lg strong">Next puzzle in</h2>
      </div>

      <div class="h-1/2 flex items-center">
        <span class="text-lg"><%= distance_of_time_in_words(@now, @next_puzzle_time) %></span>
      </div>
    </div>
  </div>

  <div class="my-8 mx-4 sm:mx-auto max-w-max grid grid-cols-5 p-5 gap-5">
    <% @days.each do |day| %>
      <div class="calendar-tile hover:wiggle flex flex-col items-center justify-center">
        <div class="relative flex items-center justify-center">
          <h2 class="<%= class_names(day_css(day, @day_of_december)) %> text-5xl"><%= day %></h2>
        </div>
      </div>
    <% end %>
  </div>

<% else %>

  <div class="mx-4 sm:mx-auto max-w-prose">
    <p class="paragraph">To make sure your name reaches our <%= link_to "custom scoreboards", scoreboard_path, class: "link" %>, you need to follow these steps:</p>

    <ol class="my-4 mx-14 list-decimal flex flex-col gap-y-1.5">
      <li class="paragraph"><%= link_to "Log in to AoC", "https://adventofcode.com/auth/login", target: :blank, class: "link-external" %>, via GitHub or any OAuth option</li>

      <%= form_with url: "https://adventofcode.com/2021/leaderboard/private/join", authenticity_token: false, html: { target: :blank } do |f| %>
        <%= f.hidden_field :join_key, value: ENV["AOC_ROOMS"].split(",").first %>
        <li class="paragraph">Once logged in, <%= f.submit "click here", class: "link-external bg-transparent cursor-pointer" %> to join our leaderboard</li>
      <% end %>

      <li class="paragraph">On AoC, go to <%= link_to "your settings page", "https://adventofcode.com/settings", target: :blank, class: "link-external" %> and copy the number next to "anonymous user #<span class="strong">0000000</span>" (without the #)</li>
      <li class="paragraph">Paste that number <%= link_to "here", settings_path, class: "link" %>, next to the field <span class="strong">AoC ID</span></li>
      <li class="paragraph">Save</li>
    </ol>

    <p class="paragraph">At this point, your status should switch to <span class="text-aoc-atmospheric text-shadow-atmospheric">pending</span>.

    Reload this page in <span class="strong"><%= distance_of_time_in_words(@last_api_fetch + 10.minutes, @now.utc) %></span>.
    If your status is still <span class="text-aoc-atmospheric text-shadow-atmospheric">pending</span> and you are 100% certain that your <span class="strong">AoC ID</span> in <%= link_to "your settings", settings_path, class: "link" %> is correct, please <%= link_to "contact me", "slack://user?team=T02NE0241&id=URZ0F4TEF", class: "contact-me" %>.</p>
  </div>

<% end %>
