<div class="my-8 text-center">
  <p>Authenticated as: <span class="strong"><%= current_user.username %></span></p>
  <p>Current sync status: <span class="<%= class_names(status_css(@user_status)) %>"><%= @user_status %></span></p>
  <p class="inline-block group relative">Last data refresh: <span class="strong"><%= @time_since_last_api_fetch %></span> ago <em class="hidden group-hover:inline absolute ml-3 w-max">(every ~10 minutes)</em></p>
</div>

<% if @user_status == "OK" %>

  <div class="my-8 mx-4 sm:mx-auto max-w-6xl flex justify-center divide-x">
    <div class="dashboard-tile flex flex-col items-center">
      <div class="h-1/3 flex items-center">
        <h2 class="text-lg strong">Today's puzzle</h2>
      </div>

      <div class="h-1/2 flex items-center">
        <% if @aoc_in_progress %>
          <%= link_to "> here <", "https://adventofcode.com/#{@year}/day/#{@now.day}", target: :blank, class: "link-external text-2xl" %>
        <% else %>
          <span class="text-xl">None 🤷</span>
        <% end %>
      </div>
    </div>

    <div class="dashboard-tile flex flex-col items-center">
      <div class="h-1/3 flex items-center">
        <h2 class="text-lg strong text-center"><%= link_to current_user.username, stats_user_path(current_user), class: "link" %></h2>
      </div>

      <div class="h-1/2 flex flex-col items-center justify-center gap-y-2">
        <%= link_to scoreboard_path(anchor: "user-rank"), data: { turbolinks: false }, class: "link" do %>
          <span class="text-2xl">
            <%= @user_score[:rank] %><sup class="text-sm"><%= @user_score[:rank].ordinal %></sup><span class="text-aoc-gray-dark">/<%= @total_users %><span class="absolute"><sup>*</sup></span></span>
          </span>
        <% end %>
        <span class="text-xl text-aoc-atmospheric text-shadow-atmospheric"><%= @user_score[:score] %> pts</span></span>
      </div>

      <span class="text-sm text-aoc-gray-dark">* synced users</span>
    </div>

    <div class="dashboard-tile flex flex-col items-center">
      <div class="h-1/3 flex items-center">
        <% if @user_batch %>
          <h2 class="text-lg strong text-center">
            <%= link_to "Batch ##{@user_batch.number}", stats_batch_path(@user_batch.number) %>
          </h2>
        <% else %>
          <h2 class="text-lg strong text-center">My batch rank</h2>
        <% end %>
      </div>

      <div class="h-1/2 flex flex-col items-center justify-center gap-y-2">
        <% if @user_batch %>
          <span class="text-2xl"><%= @user_batch_score[:rank] || 0 %><sup class="text-sm"><%= @user_batch_score[:rank].ordinal %></sup><span class="text-aoc-gray-dark">/<%= @total_batches %></span></span>
          <span class="text-xl text-aoc-atmospheric text-shadow-atmospheric"><%= @user_batch_score[:score] %> pts</span></span>
        <% else %>
          <span class="text-xl text-center">Add your Batch in <%= link_to "settings", settings_path, class: "link-gold" %></span>
        <% end %>
      </div>
    </div>

    <div class="dashboard-tile flex flex-col items-center">
      <div class="h-1/3 flex items-center">
        <% if @user_city %>
          <h2 class="text-lg strong text-center">
            <%= link_to @user_city.name, stats_city_path(@user_city.slug) %>
          </h2>
        <% else %>
          <h2 class="text-lg strong text-center">My city rank</h2>
        <% end %>
      </div>

      <div class="h-1/2 flex flex-col items-center justify-center gap-y-2">
        <% if @user_city %>
          <span class="text-2xl"><%= @user_city_score[:rank] %><sup class="text-sm"><%= @user_city_score[:rank].ordinal %></sup><span class="text-aoc-gray-dark">/<%= @total_cities %></span></span>
          <span class="text-xl text-aoc-atmospheric text-shadow-atmospheric"><%= @user_city_score[:score] %> pts</span></span>
        <% else %>
          <span class="text-xl text-center">Add your City in <%= link_to "settings", settings_path, class: "link-gold" %></span>
        <% end %>
      </div>
    </div>

    <div class="dashboard-tile flex flex-col items-center">
      <div class="h-1/3 flex items-center">
        <h2 class="text-lg strong">Next puzzle in</h2>
      </div>

      <div class="h-1/2 flex items-center">
        <span class="text-lg"><%= @time_to_next_puzzle %></span>
      </div>
    </div>
  </div>

  <div class="my-8 mx-4 sm:mx-auto max-w-max grid grid-cols-5 p-5 gap-5">
    <% @advent_days.each do |advent_day| %>
      <div data-controller="modal">
        <div class="relative calendar-tile flex flex-col items-center justify-center
        <%= "wiggle" if @aoc_in_progress && @now.day == advent_day.day %>
        <%= @now.day < advent_day.day ? "cursor-not-allowed" : "cursor-pointer" %>">

          <% if @now.day < advent_day.day %>

            <h2 class="<%= class_names(day_css(@now, advent_day)) %> text-5xl"><%= advent_day.day %></h2>

          <% else %>

            <%= link_to "https://adventofcode.com/#{@year}/day/#{advent_day.day}", target: :blank, class: "w-full h-full flex items-center justify-center rounded-3xl" do %>
              <h2 class="<%= class_names(day_css(@now, advent_day)) %> text-5xl"><%= advent_day.day %></h2>

              <div data-action="click->modal#open" class="hidden h-9 w-9 absolute right-0 bottom-0 ---flex items-center justify-center hover:bg-aoc-atmospheric rounded-br-3xl rounded-tl-2xl text-aoc-gray-darker">
                <i class="fas fa-plus"></i>
              </div>
            <% end %>

          <% end %>

        </div>

        <div data-modal-target="container" data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard" class="hidden fixed inset-0 z-10">
          <div class="mt-64 mx-auto w-max flex">
            <div class="text-3xl">
              <span>Coming soon...</span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

<% else %>

  <div class="mx-4 sm:mx-auto max-w-prose">
    <div class="my-8 p-2 flex flex-col items-center gap-y-4 bg-aoc-gray text-dark font-semibold text-center tracking-tight">
      <span>⚠️ YOU ARE NOT SYNCED ⚠️</span>
      <span class="">As a consequence, your scores are not synced here and your dashboard is not fully unlocked.</span>
      <span>Carefully following the steps below will fix all that.</span>
      <span>If you are still <em>pending</em> <u>after</u> a refresh, start the process over, wait for the next refresh and you should be good.</span>
    </div>

    <p class="paragraph">To make sure your name reaches our <%= link_to "custom scoreboards", scoreboard_path, class: "link-gold" %>, you need to follow these steps:</p>

    <ol class="my-4 mx-14 list-decimal flex flex-col gap-y-1.5">
      <li class="paragraph"><%= link_to "Log in to Advent of Code", "https://adventofcode.com/auth/login", target: :blank, class: "link-external" %>, via GitHub or any other OAuth option</li>

      <%= form_with url: "https://adventofcode.com/#{@year}/leaderboard/private/join", authenticity_token: false, html: { target: :blank } do |f| %>
        <%= f.hidden_field :join_key, value: @current_open_room %>
        <li class="paragraph">Once logged in, <%= f.submit "click here", class: "link-external bg-transparent cursor-pointer" %> to join our leaderboard on the external platform. You should be prompted:
        <code>You have joined that private leaderboard.</code>
        If not, go to <%= link_to "that page instead", "https://adventofcode.com/2021/leaderboard/private", target: :blank, class: "link-external" %> and enter the code:
        <code class="strong"><%= @current_open_room %></code></li>
      <% end %>

      <li class="paragraph">On Advent of Code, go to <%= link_to "your settings page", "https://adventofcode.com/settings", target: :blank, class: "link-external" %> and copy the number next to "anonymous user #<span class="strong">0000000</span>"</li>
      <li class="paragraph">Paste that number <%= link_to "here", settings_path, class: "link-gold" %>, next to <span class="strong">Advent of Code ID</span></li>
      <li class="paragraph">Save</li>
    </ol>

    <p class="paragraph">At this point, your status should have switched to <span class="text-aoc-atmospheric">pending</span>.
    It should switch to <span class="text-aoc-green">OK</span> in <span class="strong"><%= @estimated_next_api_fetch %></span>.

    <em class="text-sm">If your status remains <span class="text-aoc-atmospheric">pending</span> after a data refresh while you carefully followed each one of these steps, <%= link_to "contact me on Slack", "slack://user?team=T02NE0241&id=URZ0F4TEF", class: "contact-me" %>.</em></p>
  </div>

<% end %>
