<div class="my-8 text-center">
  <p>Authenticated as: <span class="strong"><%= current_user.username %></span></p>
  <p>Current sync status: <span class="<%= class_names(@status_css) %>"><%= @status %></span></p>
</div>

<% if @status == "OK" %>

  <p class="text-center">Coming soon...</p>

<% else %>

  <div class="mx-4 sm:mx-auto max-w-prose">
    <p class="paragraph">To make sure your name reaches our <%= link_to "custom scoreboards", scoreboard_path, class: "link" %>, you need to follow these steps:</p>

    <ol class="my-4 mx-14 list-decimal flex flex-col gap-y-1.5">
      <li class="paragraph"><%= link_to "Log in to AoC", "https://adventofcode.com/auth/login", target: :blank, class: "link-external" %>, via GitHub or any OAuth option</li>

      <%= form_with url: "https://adventofcode.com/2021/leaderboard/private/join", authenticity_token: false, html: { target: :blank } do |f| %>
        <%= f.hidden_field :join_key, value: ENV["AOC_ROOM"] %>
        <li class="paragraph">Once logged in, <%= f.submit "click here", class: "link-external bg-transparent cursor-pointer" %> to join our leaderboard</li>
      <% end %>

      <li class="paragraph">On AoC, go to <%= link_to "your settings page", "https://adventofcode.com/settings", target: :blank, class: "link-external" %> and copy the number next to "anonymous user #<span class="strong">0000000</span>" (without the #)</li>
      <li class="paragraph">Paste that number <%= link_to "here", settings_path, class: "link" %>, next to the field <span class="strong">AoC ID</span></li>
      <li class="paragraph">Save</li>
    </ol>

    <p class="paragraph">At this point, your status should switch to <span class="text-aoc-atmospheric text-shadow-atmospheric">pending</span>.

    Wait <span class="strong">10 minutes</span> and refresh this page.
    If your status is still <span class="text-aoc-atmospheric text-shadow-atmospheric">pending</span> and you are 100% certain that your <span class="strong">AoC ID</span> in <%= link_to "your settings", settings_path, class: "link" %> is correct, please <%= link_to "contact me", "slack://user?team=T02NE0241&id=URZ0F4TEF", class: "contact-me" %>.</p>
  </div>

<% end %>
