<%= render PageTitleComponent.new(title: "FAQ") %>

<div class="flex flex-col max-w-3xl mx-auto my-4">

  <details open>
    <%= render Faq::DetailsSummaryComponent.new(title: "What is Advent of Code?") %>

    <div class="flex flex-col gap-y-2 text-justify">
      <p>
        <%= link_to "Advent of Code", "https://adventofcode.com/", target: :_blank, rel: :noopener, class: "link-explicit link-external" %>
        is an Advent calendar of programming puzzles that you can solve in any programming language.
      </p>
      <p>
        A new puzzle is released daily at midnight EST/UTC-5 (6am Paris time 😴), from
        <span class="strong">December 1st</span> to <span class="strong">December 25th</span>, accompanied by a
        fictional Christmas backstory 🎄
      </p>
      <p>
        The event focuses on <span class="strong">learning</span> new programming skills and
        <span class="strong">sharing</span> with the community.
      </p>
      <p>
        If you feel competitive, you can earn points by solving puzzles <em>fast</em>. Enough points to win the golden
        ticket? <%= inline_svg_tag "icons/golden_ticket.svg", class: "w-6 h-6 inline-block" %>
      </p>

      <% if user_signed_in? %>
        <p>Good luck!</p>
      <% else %>
        <div class="my-2">
          <%= button_to user_kitt_omniauth_authorize_path,
                data: { turbo: false, controller: "disable-link", action: "disable-link#now" },
                class: "button" do %>
            Sign in with Kitt
          <% end %>
        </div>
      <% end %>
    </div>
  </details>

  <details>
    <%= render Faq::DetailsSummaryComponent.new(title: "Why two platforms?") %>

    <div class="flex flex-col gap-y-2 text-justify">
      <p>
        <%= link_to "adventofcode.com", "https://adventofcode.com/", target: :_blank, rel: :noopener, class: "link-explicit link-external" %>
        provides the puzzles.
      </p>
      <p>
        <%= link_to "aoc.lewagon.community", "https://aoc.lewagon.community/", target: :_blank, rel: :noopener, class: "link-explicit link-internal" %>
        is our platform built to enhance the Advent of Code experience for the community of Le Wagon:
      </p>
      <ul class="ml-7 list-disc list-inside">
        <li>A beautiful calendar</li>
        <li>Daily buddies</li>
        <li>Personal statistics</li>
        <li>Solution sharing</li>
        <li>Squads</li>
        <li>Custom leaderboards</li>
        <li>Golden tickets <%= inline_svg_tag "icons/golden_ticket.svg", class: "w-6 h-6 inline-block" %></li>
      </ul>
    </div>
  </details>

  <details>
    <%= render Faq::DetailsSummaryComponent.new(title: "What does a puzzle look like?") %>

    <div class="flex flex-col gap-y-2 text-justify">
      <p>
        A puzzle is a problem stated in plain English, typically requiring programming to solve it. Given an
        <span class="strong">input</span>, you need to compute the corresponding <span class="strong">output</span>,
        usually a number.
      </p>
      <p>
        Each puzzle has two parts. Access to the second part is granted only
        <span class="strong">after solving the first part</span>.
      </p>
      <p>
        Puzzles from past editions are available
        <%= link_to "here", "https://adventofcode.com/events", target: :_blank, rel: :noopener, class: "link-explicit link-external" %>.
      </p>
    </div>
  </details>

  <details>
    <%= render Faq::DetailsSummaryComponent.new(title: "I'm not sure about my coding skills...") %>

    <div class="flex flex-col gap-y-2 text-justify">
      <p>
        Puzzle difficulty varies throughout the event. The first part of each puzzle is
        <span class="strong">generally accessible to all Wagoners, students and Alumni</span>. The second part is
        more challenging but still doable for various experience levels.
      </p>
      <p>
        Puzzle difficulty <span class="strong">does not strictly increase</span> during the event. You might find puzzle
        #21 easier than #6, depending on your skills, experience, or the puzzle creator's design.
      </p>
      <p>
        <span class="strong">Never give up.</span>
      </p>
      <p>
        If you are stuck, open a discussion <%= link_to "on Slack", Aoc.slack_channel, target: :_blank, rel: :noopener, class: "link-explicit link-slack" %> where other Wagoners can help you.
        This event is about <span class="strong">sharing, learning, and mutual help, regardless of skill level</span>.
        It's also a great opportunity to reconnect with your campus/batch 🤙
      </p>
    </div>
  </details>

  <details>
    <%= render Faq::DetailsSummaryComponent.new(title: "What is a squad?") %>

    <div class="flex flex-col gap-y-2 text-justify">
      <p>
        The more, the merrier! A squad is a group of participants who team up to learn together.
      </p>
      <p>
        Create your squad in one click in your
        <%= link_to "settings", settings_path, class: "link-explicit link-internal" %><sup>(*)</sup>. This generates a unique
        <span class="strong">PIN to share with your peers</span> for joining.
      </p>
      <p>
        <%= link_to "Use Slack", Aoc.slack_channel, target: :_blank, rel: :noopener, class: "link-explicit link-slack" %>
        to assemble your dream team now!
      </p>
    </div>
  </details>

  <details>
    <%= render Faq::DetailsSummaryComponent.new(title: "What are the prizes?") %>

    <div class="flex flex-col gap-y-2 text-justify">
      <p>
        3 exceptional individuals will receive a golden ticket
        <%= inline_svg_tag "icons/golden_ticket.svg", class: "w-6 h-6 inline-block" %>
      </p>
      <p>
        Each golden ticket unlocks a reward worth 500€.
      </p>
      <p>
        More info <%= link_to "on Slack", Aoc.slack_channel, target: :_blank, rel: :noopener, class: "link-explicit link-slack" %>.
      </p>
    </div>
  </details>

  <details>
    <%= render Faq::DetailsSummaryComponent.new(title: "The Ladder of Insanity?!") %>

    <div class="flex flex-col gap-y-2 text-justify">
      <p>
        Puzzles release globally at midnight EST/UTC-5 (5:00/6:00 in Western Europe).
      </p>
      <p>
        Some participants wake up just before 6:00 to start coding upon puzzle release, every day, for 25 days.
      </p>
      <p>
        <span class="strong">This is insane.</span>
      </p>
      <p>
        We don't want to get in the way of people adopting new morning habits.
      </p>
      <p>
        So we created an individual scoring system, based on your time to solve a part of puzzle
        <em>from its release</em>: <span class="strong">The Ladder of Insanity</span>.
      </p>

      <span class="my-4 text-center underline underline-offset-4">How the ranking works</span>

      <p>
        For each <em>part</em>, participants are ranked by relative solving time:
        <ul class="ml-7 list-disc list-inside">
          <li>1st place: <code class="strong">5</code> points</li>
          <li>2nd place: <code class="strong">4</code> points</li>
          <li>3rd place: <code class="strong">3</code> points</li>
          <li>4th place: <code class="strong">2</code> points</li>
          <li>5th place: <code class="strong">1</code> point</li>
          <li>6th place and beyond: <code class="strong">0</code> points</li>
        </ul>
      </p>

      <p>Example:</p>

      <table class="w-full text-center">
        <thead>
          <tr>
            <th>Username</th>
            <th>Day</th>
            <th>Part</th>
            <th>Time to complete</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody class="text-center text-xl">
          <% [
            ['alpha', 1, 1, '1 minute', 5],
            ['bravo', 1, 1, '1 minute 1 second', 4],
            ['charlie', 1, 1, '1 hour', 3],
            ['delta', 1, 1, '2 hours', 2],
            ['echo', 1, 1, '5 days', 1],
            ['foxtrot', 1, 1, '5 days 2 hours', 0],
            ['alpha', 1, 2, 'never', 0],
            ['bravo', 1, 2, '6 hours', 4],
            ['charlie', 1, 2, '6 days', 2],
            ['delta', 1, 2, '3 hours', 5],
            ['echo', 1, 2, '5 days 2 hours', 3],
            ['foxtrot', 1, 2, '6 days 1 minute', 1]
          ].each do |username, day, challenge, time, score| %>
            <tr>
              <td class="text-sm"><%= username %></td>
              <td><%= day %></td>
              <td><%= challenge %></td>
              <td class="text-sm"><%= time %></td>
              <td class="strong"><%= score %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </details>

  <details>
    <%= render Faq::DetailsSummaryComponent.new(
          title: "Why are leaderboards different on adventofcode.com vs aoc.lewagon.community?"
        ) %>

    <div class="flex flex-col gap-y-2 text-justify">
      <p>
        During the setup process, you joined a private leaderboard on adventofcode.com.
      </p>
      <p>
        This private leaderboard is capped at 200 members, but our participant count exceeds this limit.
      </p>
      <p>
        We create multiple private leaderboards on adventofcode.com and <span class="strong">randomly</span> assign each
        participant to one of them.
      </p>
      <p>
        Your private leaderboard on adventofcode.com is just a random group of ~200 Wagoners, and it uses a different
        scoring system than ours.
      </p>
    </div>
  </details>

  <details>
    <%= render Faq::DetailsSummaryComponent.new(title: "When does the contest end?") %>

    <div class="flex flex-col gap-y-2 text-justify">
      <p>
        The last puzzle is released on December 25th, but the solving deadline is
        <span class="strong"><%= "#{Aoc.lewagon_end_time.to_fs(:long_ordinal)} #{Aoc.lewagon_end_time.zone}" %></span>.
        After this, all scores freeze, and results will be announced.
      </p>
    </div>
  </details>

  <details>
    <%= render Faq::DetailsSummaryComponent.new(title: "What personal data does the platform collect?") %>

    <div class="flex flex-col gap-y-2 text-justify">
      <p>
        When you "Sign in with Kitt", we collect:
        <ul class="ml-7 list-disc list-inside">
          <li>your <code class="strong">GitHub username</code> (used as your default username here)</li>
          <li>your <code class="strong">batch number</code></li>
          <li>your <code class="strong">campus</code></li>
        </ul>
      </p>
      <p>
        When you "Link Slack account", we collect from Le Wagon Alumni workspace:
        <ul class="ml-7 list-disc list-inside">
          <li>your <code class="strong">Slack ID</code></li>
          <li>your <code class="strong">Slack name</code></li>
          <li>your <code class="strong">authentication token</code> (stored encrypted)</li>
        </ul>
      </p>
      <p>
        <span class="strong">We do not collect emails.</span>
      </p>
    </div>
  </details>

  <p class="mt-4 text-xs"><sup>(*)</sup> accessible only when your account is setup</p>

</div>
