<%= render PageTitleComponent.new(title: "FAQ") %>

<div class="flex flex-col max-w-3xl mx-auto my-4">

  <details open>
    <%= render Faq::DetailsSummaryComponent.new(title: "TL;DR") %>

    <div class="flex flex-col gap-y-2 text-justify">
      <p>
        Solve puzzles 🧠 Gain points 💎 Win prizes 🎁
      </p>
      <p>
        Each puzzle you solve <em>at any time</em> grants points to you, your campus and your squad.
      </p>
      <p>
        The competition starts on <span class="strong">December 1st</span>, winners in all categories will be determined
        by the final standings on <span class="strong">December 31st</span>.
      </p>

      <% if user_signed_in? %>

        <p>Good luck!</p>

      <% else %>

        <div class="my-2">
          <%= button_to(
                user_kitt_omniauth_authorize_path,
                data: { turbo: false, controller: "disable-link", action: "disable-link#now" },
                class: "button"
              ) do %>
            Sign in with Kitt
          <% end %>
        </div>

      <% end %>
    </div>
  </details>

  <details>
    <%= render Faq::DetailsSummaryComponent.new(title: "What is Advent of Code?") %>

    <div class="flex flex-col gap-y-2 text-justify">
      <p>
        <%= link_to "Advent of Code", "https://adventofcode.com/", target: :_blank, rel: :noopener, class: "link-explicit link-external" %>
        is an Advent calendar of small programming puzzles that you can solve in any programming language.
      </p>
      <p>
        A new puzzle is released every day at midnight EST/UTC-5 (or 6am Paris time 😴), from
        <span class="strong">December 1st</span> to <span class="strong">December 25th</span>, accompanied by a
        fictional Christmas backstory 🎄
      </p>
      <p>
        Solving puzzles earns you points 💎, for yourself, <span class="strong">your campus</span> @
        <span class="text-wagon-red">Le Wagon</span> and your custom <span class="strong">squad of 4</span>.
      </p>
    </div>
  </details>

  <details>
    <%= render Faq::DetailsSummaryComponent.new(title: "What does a puzzle look like?") %>

    <div class="flex flex-col gap-y-2 text-justify">
      <p>
        A puzzle is a problem stated in plain English terms, (usually) requiring a programming solution to find the
        answer. Given an <span class="strong">input</span>, you have to compute the corresponding
        <span class="strong">output</span>, typically a number.
      </p>
      <p>
        Each puzzle consists of two parts, two <em>challenges</em>, with access to the second one granted only
        <span class="strong">upon solving the first</span>.
      </p>
      <p>
        Puzzles from past editions are available
        <%= link_to "here", "https://adventofcode.com/events", target: :_blank, rel: :noopener, class: "link-explicit link-external" %>.
      </p>
    </div>
  </details>

  <details>
    <%= render Faq::DetailsSummaryComponent.new(title: "I'm not sure about my coding skills...") %>

    <div class="flex flex-col gap-y-2 text-justify">
      <p>
        Puzzle difficulty fluctuates across the event. The first part of each puzzle is
        <span class="strong">generally accessible to Wagoners, students and Alumni</span>. The second part is somewhat
        harder, but still doable for varying experience levels.
      </p>
      <p>
        <span class="strong">Difficulty is not strictly progressive</span>; you may find puzzle #21 much easier than #6.
        Difficulty is very relative to your personal skills and past problem-solving experience.
      </p>
      <p>
        If you get stuck on a puzzle, you can always
        <%= link_to "discuss with other Wagoners", Aoc.slack_channel, target: :_blank, rel: :noopener, class: "link-explicit link-slack" %>!
        This event is about
        <span class="strong">sharing, learning, and mutual help, irrespective of your skill level</span>. It's also a
        perfect time to reconnect with your campus/batch 🤙
      </p>
    </div>
  </details>

  <details>
    <%= render Faq::DetailsSummaryComponent.new(title: "What is a squad?") %>

    <div class="flex flex-col gap-y-2 text-justify">
      <p>
        A squad is a group of <span class="strong">up to 4</span> participants, and each participant can be part of 0 or
        1 squad.
      </p>
      <p>
        You build your squad by assembling your dream team (find people
        <%= link_to "on Slack", Aoc.slack_channel, target: :_blank, rel: :noopener, class: "link-explicit link-slack" %>
        ) and create a squad in your
        <%= link_to "settings", settings_path, class: "link-explicit link-internal" %><sup>(*)</sup> in 1 click.
      </p>
      <p>
        Creating a squad generates a unique <span class="strong">PIN to share with your peers</span> for joining.
      </p>
      <p>
        Squads have their own scoreboards, and the squad's score is
        <span class="strong">the sum of its members' scores</span>.
      </p>
      <p>
        ⚠️ Squads <span class="strong">lock</span> on
        <%= "#{Aoc.lewagon_lock_time.to_fs(:long_ordinal)} #{Aoc.lewagon_lock_time.zone}" %>. No squad creation, joining
        or leaving is possible after that.
      </p>
    </div>
  </details>

  <details>
    <%= render Faq::DetailsSummaryComponent.new(title: "What are the prizes?") %>

    <div class="flex flex-col gap-y-2 text-justify">
      <p>
        Coming soon... 👀
      </p>
    </div>
  </details>

  <details>
    <%= render Faq::DetailsSummaryComponent.new(title: "How do I earn points?") %>

    <div class="flex flex-col gap-y-2 text-justify">
      <p>
        TL;DR - You have 24 hours to maximise points for a daily puzzle; after that, points decrease slightly over time.
      </p>

      <span class="text-center underline">Individual scores</span>

      <p>
        There are <code>50</code> <em>challenges</em> (25 days * 2 challenges/day). For each challenge:
        <ul class="list-disc list-inside">
          <li>if you solve it within 24 hours, you get <code class="strong">50</code> points</li>
          <li>
            after 24 hours, points decrease by <code class="strong">1</code>/hour, up until
            <code class="strong">25</code> points
          </li>
        </ul>
      </p>
      <p>
        Even if you solve a challenge 2 weeks after release, you still get <code class="strong">25</code> points.
      </p>
      <p>
        Your individual score is <span class="strong">the sum of scores for every challenge you solve</span>.
      </p>
      <p>
        Tiebreakers:
        <ol class="list-decimal list-inside">
          <li>Score</li>
          <li>Total challenges solved in less than 24 hours</li>
          <li>Total challenges solved in less than 48 hours</li>
        </ol>
      </p>

      <span class="text-center underline">Campus scores</span>

      <p>
        Ranking campuses is hard, because the number of Alumni per campus varies a lot.
      </p>
      <p>
        For <em>each challenge</em>, the campus' top <code class="strong">N</code> individual scores are taken into
        account - also called the <span class="strong">top contributors</span>.
      </p>
      <p>
        <code>N</code> depends on your <span class="strong">campus' size</span>: it's equal either to
        <code class="strong">5% * 2023 Alumni + 3% * 2022 Alumni + 1% * remaining Alumni</code> of your campus, or
        <code class="strong">10</code>, whichever is <em>greater</em>.
      </p>
      <p>
        Examples:
        <ul class="list-disc list-inside">
          <li>
            Suppose campus A has graduated 600 Alumni: 300 in 2023, 200 in 2022 and 100 between 2018 and
            2021. 5% * 300 + 3% * 200 + 1% * 100 = 15 + 6 + 1 = <code>22</code>, thus this campus' <code>N</code> is
            equal to <code class="strong">22</code>.
          </li>
          <li>
            Suppose campus B opened in 2023 and has graduated <code>51</code> Alumni already.
            5% * 51 + 3% * 0 + 1% * 0 = <code>2.55</code>, thus this campus' <code>N</code> is equal to
            <code class="strong">10</code>.
          </li>
        </ul>
      </p>
      <p>
        The campus score, for <em>each challenge</em>, is
        <span class="strong">the average of the top <code>N</code> individual scores</span>. The global campus score is
        the sum of these averages for all challenges.
      </p>
      <p>
        Examples:
        <ul class="list-disc list-inside">
          <li>
            Campus B's <code>N</code> is equal to <code>10</code>.<br>
            12 people from campus B join the event with these scores:<br>
            <code>day 1 part 1 | [50, 50, 50, 48, 48, 45, 36, 25, 25, 25, 25, 0]</code><br>
            <code>day 1 part 2 | [50, 50, 50, 50, 40, 25, 25, 0, 0, 0, 0, 0]</code><br>
            Campus B's score is the sum of each challenge average of the 10 participants with the highest scores among
            the 12 participants, so
            <code>
              <span class="strong">40.2</span> for day 1 part 1 + <span class="strong">29</span> for day 1 part 2 =
              <span class="strong">70</span>
            </code>.
          </li>
          <li>
            Campus A's <code>N</code> is equal to <code>22</code>.<br>
            12 people from campus A join the event with these scores:<br>
            <code>day 1 part 1 | [50, 50, 50, 48, 48, 45, 36, 25, 25, 25, 25, 0]</code><br>
            <code>day 1 part 2 | [50, 50, 50, 50, 40, 25, 25, 0, 0, 0, 0, 0]</code><br>
            Campus A's score is <code class="strong">33</code>.
          </li>
        </ul>
      </p>
      <p>
        Tiebreakers:
        <ol class="list-decimal list-inside">
          <li>Score</li>
          <li>Total challenges solved in less than 24 hours by the top <code>N</code></li>
          <li>Total challenges solved in less than 48 hours by the top <code>N</code></li>
        </ol>
      </p>
    </div>
  </details>

  <details>
    <%= render Faq::DetailsSummaryComponent.new(title: "The Ladder of Insanity?!") %>

    <div class="flex flex-col gap-y-2 text-justify">
      <p>
        Puzzles release globally at midnight EST/UTC-5, or 5:00/6:00 in Western Europe.
      </p>
      <p>
        Some of you wake up right before 6:00 to start coding upon puzzle release, every day, during 25 days.
      </p>
      <p>
        <span class="strong">This is insane.</span>
      </p>
      <p>
        But I don't want to get in the way of people adopting new morning habits.
      </p>
      <p>
        So we created an additional individual scoring system, based on your time to solve a challenge
        <em>from its release</em>:
      </p>
      <p>
        <span class="strong">The Ladder of Insanity</span>
      </p>

      <span class="my-4 text-center underline underline-offset-4">I am insane, how can I join?</span>

      <p>
        Go to your <%= link_to "settings", settings_path, class: "link-explicit link-internal" %><sup>(*)</sup> and
        tick the checkbox.
      </p>
      <p>
        Things to consider by opting-in:
        <ul class="list-disc list-inside pl-6">
          <li>
            You become eligible for Insanity individual rewards but you lose your eligibility to the casual individual
            rewards. You have to choose.
          </li>
          <li>
            You still get a casual score and you still appear in the casual ranking -
            <span class="text-aoc-gray-dark">greyed out</span> to have a quick overview of who's insane and who's not.
          </li>
          <li>
            Whether you opt-in or not, your contributions to your squad or your campus are always computed from your
            <span class="strong">casual score</span>.
          </li>
          <li>
            The scores and the ranking of The Ladder of Insanity are computed only among the participants who opt-in.
          </li>
        </ul>
      </p>
      <p>
        ⚠️ The Ladder of Insanity <span class="strong">locks</span> on
        <%= "#{Aoc.lewagon_lock_time.to_fs(:long_ordinal)} #{Aoc.lewagon_lock_time.zone}" %>. No joining or leaving is
        possible after that.
      </p>

      <span class="my-4 text-center underline underline-offset-4">How the ranking works</span>

      <p>
        Let <code>X</code> be the opt-in (insane) participants.
      </p>
      <p>
        For each <em>challenge</em>, participants are ranked by relative time to solve it. The first participant wins
        <code>X</code> points, the second one wins <code>X-1</code> points, the third one <code>X-2</code> points and so
        on.
      </p>
      <p>
        Example:
      </p>

      <table class="w-full text-center">
        <thead>
          <tr>
            <th>Username</th>
            <th>Day</th>
            <th>Challenge</th>
            <th>Time to complete</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody class="text-center text-xl">
            <tr>
              <td class="text-sm">alpha</td>
              <td>1</td>
              <td>1</td>
              <td class="text-sm">1 minute</td>
              <td class="strong">5</td>
            </tr>
            <tr>
              <td class="text-sm">bravo</td>
              <td>1</td>
              <td>1</td>
              <td class="text-sm">1 minute 1 second</td>
              <td class="strong">4</td>
            </tr>
            <tr>
              <td class="text-sm">charlie</td>
              <td>1</td>
              <td>1</td>
              <td class="text-sm">1 hour</td>
              <td class="strong">3</td>
            </tr>
            <tr>
              <td class="text-sm">delta</td>
              <td>1</td>
              <td>1</td>
              <td class="text-sm">2 hours</td>
              <td class="strong">2</td>
            </tr>
            <tr>
              <td class="text-sm">echo</td>
              <td>1</td>
              <td>1</td>
              <td class="text-sm">5 days</td>
              <td class="strong">1</td>
            </tr>
            <tr>
              <td class="text-sm">alpha</td>
              <td>1</td>
              <td>2</td>
              <td class="text-sm">never</td>
              <td class="strong">0</td>
            </tr>
            <tr>
              <td class="text-sm">bravo</td>
              <td>1</td>
              <td>2</td>
              <td class="text-sm">6 hours</td>
              <td class="strong">4</td>
            </tr>
            <tr>
              <td class="text-sm">charlie</td>
              <td>1</td>
              <td>2</td>
              <td class="text-sm">6 days</td>
              <td class="strong">2</td>
            </tr>
            <tr>
              <td class="text-sm">delta</td>
              <td>1</td>
              <td>2</td>
              <td class="text-sm">3 hours</td>
              <td class="strong">5</td>
            </tr>
            <tr>
              <td class="text-sm">echo</td>
              <td>1</td>
              <td>2</td>
              <td class="text-sm">5 days 2 hours</td>
              <td class="strong">3</td>
            </tr>
        </tbody>
      </table>

      <p>
        Scores are adjusted dynamically as new participants join The Ladder of Insanity. Your Insanity score is
        <span class="strong">the sum of scores for challenge you solve</span>.
      </p>
    </div>
  </details>

  <details>
    <%= render Faq::DetailsSummaryComponent.new(title: "Why two platforms?") %>

    <div class="flex flex-col gap-y-2 text-justify">
      <p>
        Advent of Code hosts and presents the puzzles for solving.
      </p>
      <p>
        At <span class="text-wagon-red">Le Wagon</span> we like things spicy, we want
        <span class="strong">campus-specific scoreboards</span>, which the adventofcode.com leaderboard system does not
        support.
      </p>
      <p>
        So, we created a platform (this website), linking Kitt and Advent of Code, to build
        <%= link_to "custom agregated scoreboards", "#", class: "link-explicit link-internal" %><sup>(*)</sup>.
      </p>
    </div>
  </details>

  <details>
    <%= render Faq::DetailsSummaryComponent.new(title: "Why are leaderboards different on adventofcode.com vs aoc.lewagon.community?") %>

    <div class="flex flex-col gap-y-2 text-justify">
      <p>
        During the setup process, you join a private leaderboard on adventofcode.com, capped at 200 members. As
        participants <em>here</em> exceed this limit, multiple private leaderboards are created behind the scenes,
        assigning each participant to one.
      </p>
      <p>
        Your private leaderboard on adventofcode.com is meaningless, it's a random group of 200 Wagoners.
      </p>
      <p>
        Check our platform's
        <%= link_to "scoreboards", "#", class: "link-explicit link-internal" %><sup>(*)</sup> instead, they
        include everyone in the comunity!
      </p>
    </div>
  </details>

  <details>
    <%= render Faq::DetailsSummaryComponent.new(title: "When does the contest end?") %>

    <div class="flex flex-col gap-y-2 text-justify">
      <p>
        <span class="strong"><%= "#{Aoc.lewagon_end_time.to_fs(:long_ordinal)} #{Aoc.lewagon_end_time.zone}" %></span>
        is the deadline for solving puzzles 🏁 At this point, all scores will freeze, and the results will be determined
        and announced.
      </p>
    </div>
  </details>

  <details>
    <%= render Faq::DetailsSummaryComponent.new(title: "What personal data does the platform collect?") %>

    <div class="flex flex-col gap-y-2 text-justify">
      <p>
        When you hit "Sign in with Kitt", we collect your <code>GitHub username</code>, <code>batch number</code> and
        <code>campus</code>. We use your GitHub username as your default public username, changeable at any time.
      </p>
      <p>
        When you hit "Link Slack account", we collect your <code>Slack ID</code>, <code>Slack username</code> and
        encrypted <code>authentication token</code> from Le Wagon Alumni workspace.
      </p>
      <p>
        <span class="strong">We do not collect emails or real names.</span>
      </p>
    </div>
  </details>

  <p class="mt-4 text-xs"><sup>(*)</sup> accessible only when your account is setup</p>

</div>
