<%= render PageTitleComponent.new(title: "Participation") %>

<div class="my-4 flex flex-col gap-y-4">
  <p>
    The campus which brings the most sign ups - <em>in proportion to their size</em> - by November 30th will be allowed to
    customise their name on the platform (custom <span class="text-[#d946ef]">colour</span>, custom ğ‘›ğ‘ğ‘šğ‘’).
  </p>

  <p>
    This table gives you the participation stats in real time.
  </p>

  <p>
    The assignment of users to their campus is automatic: they can see it in
    their <%= link_to "settings", settings_path, class: "link-internal link-explicit" %>.
  </p>
</div>

<table class="block overflow-x-auto whitespace-nowrap w-full max-w-lg mx-auto">
  <thead>
    <tr class="border-b border-aoc-gray-darker">
      <th class="font-light w-full"></th>
      <th class="font-light min-w-[6rem]">Alumni</th>
      <th class="font-light min-w-[6rem]">Participants</th>
      <th class="font-light min-w-[6rem]">%</th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr class="hover:bg-hover">
        <td class="text-center">
          <%= city[:vanity_name] %>
        </td>

        <td class="text-center">
          <%= city[:size] %>
        </td>

        <td class="text-center">
          <%= city[:n_participants] %>
        </td>

        <td class="py-1 strong text-center">
          <%= number_to_percentage(
                city[:participation_ratio] * 100,
                precision: city[:participation_ratio] == 0 ? 0 : 2
              ) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
