<%= render PageTitleComponent.new(title: "Patrons") %>

<div class="my-4 flex flex-col gap-y-4">
  <p>
    This page lists the greatest influencers of Le Wagon.
  </p>
  <p>
    You can become one, by sharing your personal referral code
    <span data-controller="clipboard"
          data-clipboard-content-value="<%= current_user.referral_code %>"
          class="relative inline-block">
      <code data-action="click->clipboard#copy" class="copyable"><%= current_user.referral_code %></code>
      <span data-clipboard-target="feedback" class="hidden absolute -top-4 right-0 text-xs">Copied!</span>
    </span>
    or URL (click to copy)
  </p>

  <div data-controller="clipboard"
       data-clipboard-content-value="<%= current_user.referral_link(request) %>"
       class="relative text-center mx-auto">
    <code data-action="click->clipboard#copy" class="copyable"><%= current_user.referral_link(request) %></code>
    <span data-clipboard-target="feedback" class="hidden absolute -top-4 right-0 text-xs">Copied!</span>
  </div>

  <p>
    Share this link everywhere to your fellow Wagoners: your batch channel
    <%= link_to "on Slack", Aoc.slack_channel, target: :_blank, rel: :noopener, class: "link-explicit link-slack" %>,
    your WhatsApp groups, by mail, pigeon, or even in the
    <%= link_to "#general",
                "https://lewagon-alumni.slack.com/archives/C02NE024R",
                target: :_blank,
                rel: :noopener,
                class: "link-explicit link-slack" %>
    Slack channel if you dare.
  </p>

  <p>
    Every signup using your code will increase your <span class="strong">aura</span>. Referring people who solve a few
    puzzles or share their solution can only help your <span class="strong">aura</span> as well.
  </p>
</div>

<% if @current_user_referees.any? %>
  <p>
    You already have referred <%= pluralize(@current_user_referees.count, "user") %>:
    <%= safe_join(@current_user_referees.map do |user|
          link_to user.username, profile_path(user.uid), class: "strong hover:text-gold"
        end, ", ") %>
  </p>
<% end %>

<% if @patrons.any? %>
  <table class="block overflow-x-auto whitespace-nowrap w-full max-w-md mx-auto">
    <thead>
      <tr class="border-b border-aoc-gray-darker">
        <th class="font-light w-full"></th>
        <th class="font-light min-w-[6rem]">Referrals</th>
        <th class="font-light min-w-[6rem]">Aura</th>
      </tr>
    </thead>

    <tbody>
      <% @patrons.each_with_index do |user, index| %>
        <tr class="hover:bg-aoc-gray/10">
          <td class="text-center">
            <%= link_to user["username"], profile_path(user["uid"]), class: "hover:text-gold" %>
            <% if index == 0 %>
              <%= inline_svg_tag "icons/golden_ticket.svg", class: "w-6 h-6 inline-block" %>
            <% end %>
          </td>

          <td class="text-center">
            <%= user["referrals"] %>
          </td>

          <td class="text-center strong">
            <%= user["aura"] %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
