<%= render PageTitleComponent.new(title: "Setup") %>

<div class="my-4 flex flex-col gap-y-4">
  <div class="mx-auto text-center flex flex-col">
    <p>Welcome, <span class="strong"><%= current_user.username %></span></p>
    <p>Sync status: <span class="<%= @sync_status_css_class %>"><%= current_user.sync_status %></p>
    <%= render LastDataUpdateComponent.new %>
  </div>

  <p class="text-justify">
    This platform enhances your Advent of Code experience with exclusive features targeted to the community of
    <span class="hover:text-wagon-red">Le Wagon</span>.
  </p>
  <p class="text-justify font-semibold">
    To complete your sign-up, follow these steps carefully:
  </p>

  <ol start="1" class="ml-7 flex flex-col gap-y-3 list-decimal text-justify">
    <li>
      <div class="flex flex-col gap-y-2">
        <p>If a friend referred you, enter their referral code (optional):</p>

        <%= form_with model: current_user, url: setup_path, class: "flex flex-col items-center gap-y-2" do |f| %>
          <div class="flex items-center gap-x-2">
            <%= f.text_field :referrer_code, class: "input", placeholder: "R00000" %>
            <%= f.submit "Save", class: "button" %>
          </div>
        <% end %>
      </div>
    </li>
    <li>
      <%= link_to(
            "Log in to Advent of Code",
            "https://adventofcode.com/auth/login",
            target: :_blank,
            rel: :noopener,
            class: "link-explicit link-external"
          ) %> (e.g. using your GitHub account).
    </li>
    <li>
      <div>
        <p>
          Once logged in,
          <%= link_to(
                "go to this page",
                "https://adventofcode.com/leaderboard/private",
                target: :_blank,
                rel: :noopener,
                class: "link-explicit link-external"
              ) %>, enter this code: <code class="strong"><%= current_user.private_leaderboard %></code> and click [Join].
        </p>
        <p>
          You should see this confirmation: <code>You have joined that private leaderboard.</code>
        </p>
      </div>
    </li>
    <li>
      <%= link_to(
            "Go to your settings",
            "https://adventofcode.com/settings",
            target: :_blank,
            rel: :noopener,
            class: "link-explicit link-external"
          ) %> and get the number next to <code>anonymous user #<span class="strong">XXXXXXX</span></code> (your ID)
    </li>
    <li>
      <div class="flex flex-col gap-y-2">
        <p>
          Enter that number <span class="strong">XXXXXXX</span> below. Read and accept the Code of Conduct, then click
          "Save":
        </p>

        <%= form_with(
              model: current_user,
              url: setup_path,
              data: { controller: "unlock" },
              class: "flex flex-col items-center gap-y-2"
            ) do |f| %>

          <div class="flex items-center gap-x-2">
            <%= f.number_field :aoc_id, value: current_user.aoc_id, min: 1, class: "input", placeholder: "XXXXXXX" %>
            <%= f.submit "Save", class: "button", data: { "unlock-target" => "button" } %>
          </div>

          <div class="flex items-center gap-x-3">
            <%= f.check_box(
                  :accepted_coc,
                  checked: current_user.accepted_coc,
                  data: { "unlock-target" => "checkbox", action: "change->unlock#toggle" },
                  class: "focus:no-ring"
                ) %>
            <%= f.label :accepted_coc, class: "text-sm" do
                  "I have read and agree to comply with the #{link_to(
                    'Code of Conduct',
                    code_of_conduct_path,
                    target: :_blank,
                    rel: :noopener,
                    class: 'link-explicit link-internal'
                  )}".html_safe
                end %>
          </div>

        <% end %>

        <p>
          After saving, your sync status at the top of this page should change to
          <span class="text-aoc-atmospheric">Pending</span>.
        </p>
      </div>
    </li>
    <li>
      <div class="flex flex-col gap-y-2">
        <p>
          Configure your personal settings:
        </p>
        <%= render Users::AccountSettingsComponent.new(user: current_user) %>
      </div>
    </li>
    <li>
      Read the <%= link_to "FAQ", faq_path, class: "link-explicit link-internal" %>
    </li>
  </ol>
</div>

<p>
  Congratulations, your setup is now complete! Every 10 minutes, our platform syncs with adventofcode.com. Soon, this
  page will vanish, replaced by your personal advent calendar ✨
</p>

<p class="mt-4 italic text-sm opacity-80">
  If you have completed all these steps, <b>waited at least 10 minutes</b>, and your status is still
  <span class="not-italic text-aoc-atmospheric">Pending</span>, please send a message in this
  <%= link_to "Slack thread", "https://lewagon-alumni.slack.com/archives/C02PN711H09/p1700598449505399", target: :_blank, rel: :noopener, class: "link-explicit link-slack" %>
  with the following details:
  <code class="not-italic strong">id:<%= current_user.id %>;aoc_id:<%= current_user.aoc_id %></code>
</p>
