<%= render PageTitleComponent.new(title: "Setup") %>

<div class="my-4 flex flex-col gap-y-4">
  <div class="mx-auto text-center flex flex-col">
    <p>Welcome, <span class="strong"><%= current_user.username %></span></p>
    <p>Sync status: <span class="<%= current_user.sync_status_css_class %>"><%= current_user.sync_status %></p>
    <%= render LastDataUpdateComponent.new %>
  </div>

  <p class="text-justify">
    Welcome to our platform, designed to enhance your Advent of Code experience with exclusive features for the
    <span class="hover:text-wagon-red">Le Wagon</span> community. To unlock these features, please follow these steps:
  </p>

  <ol start="0" class="ml-7 flex flex-col gap-y-3 list-decimal text-justify">
    <li>
      <div class="flex flex-col gap-y-2">
        <p>(Optional) Got referred by a friend? Enter their referral code here:</p>

        <%= form_with model: current_user, url: setup_path, class: "flex flex-col items-center gap-y-2" do |f| %>
          <div class="flex items-center gap-x-2">
            <%= f.text_field :referrer_code, class: "input", placeholder: "R00000" %>
            <%= f.submit "Save", class: "button" %>
          </div>
        <% end %>
      </div>
    </li>
    <li>
      <%= link_to(
            "Log in to Advent of Code",
            "https://adventofcode.com/auth/login",
            target: :_blank,
            class: "link-explicit link-external"
          ) %>, using either your GitHub account or another OAuth option.
    </li>
    <li>
      <div class="flex flex-col gap-y-2">
        <p>
          After logging in, make sure to join our private leaderboard on Advent of Code.
          <%= link_to(
                "Go to this page",
                "https://adventofcode.com/leaderboard/private",
                target: :_blank,
                class: "link-explicit link-external"
              ) %>, enter the following code <code class="strong"><%= current_user.private_leaderboard %></code> and click [Join].
        </p>
        <p>
          You should see a confirmation message: <code>You have joined that private leaderboard.</code>
        </p>
      </div>
    </li>
    <li>
      We also need your Advent of Code ID, which you can find in
      <%= link_to(
            "your settings",
            "https://adventofcode.com/settings",
            target: :_blank,
            class: "link-explicit link-external"
          ) %>. It's the number next to <code>anonymous user #<span class="strong">XXXXXXX</span></code>.
    </li>
    <li>
      <div class="flex flex-col gap-y-2">
        <p>
          Paste that number <span class="strong">XXXXXXX</span> below, read the Code of Conduct, approve it and click
          "Save":
        </p>

        <%= form_with(
              model: current_user,
              url: setup_path,
              data: { controller: "unlock" },
              class: "flex flex-col items-center gap-y-2"
            ) do |f| %>

          <div class="flex items-center gap-x-2">
            <%= f.number_field :aoc_id, value: current_user.aoc_id, min: 1, class: "input", placeholder: "ID" %>
            <%= f.submit "Save", class: "button", data: { "unlock-target" => "button" } %>
          </div>

          <div class="flex items-center gap-x-3">
            <%= f.check_box(
                  :accepted_coc,
                  checked: current_user.accepted_coc,
                  data: { "unlock-target" => "checkbox", action: "change->unlock#toggle" },
                  class: "focus:no-ring"
                ) %>
            <%= f.label :accepted_coc, class: "text-sm" do
                  "I have read and I will comply with the #{link_to(
                    'Code of Conduct',
                    code_of_conduct_path,
                    target: :_blank,
                    rel: :noopener,
                    class: 'link-explicit link-internal'
                  )}".html_safe
                end %>
          </div>

        <% end %>

        <p>
          Your sync status at the top of this page will change to <span class="text-aoc-atmospheric">Pending</span>.
        </p>
      </div>
    </li>
    <li>
      <div class="flex flex-col gap-y-2">
        <p>
          Now, simply wait for the next data update, and refresh this page to reveal what's behind the curtain ✨
        </p>
        <p>
          While waiting, feel free to explore our <%= link_to "FAQ", faq_path, class: "link-explicit link-internal" %>
          or customise your settings:
        </p>
      </div>
    </li>
  </ol>
</div>

<%= render UserFormComponent.new(user: current_user) %>

<p class="mt-4 italic text-sm opacity-80">
  If you have completed all these steps and your status remains
  <span class="not-italic text-aoc-atmospheric">Pending</span> after a data update, please send me a message
  <%= link_to "on Slack", Aoc.slack_channel, class: "link-explicit link-slack" %> with the following details:
  <code class="not-italic strong">id:<%= current_user.id %>;aoc_id:<%= current_user.aoc_id %></code>
</p>
