<table class="mt-8 mx-auto border-t border-aoc-gray-dark">
  <tr class="border-b border-aoc-gray-dark">
    <th class="font-light px-4 py-2">Current total users</th>
    <td class="font-semibold text-center px-4"><%= @total_users %></td>
  </tr>
  <tr class="border-b border-aoc-gray-dark">
    <th class="font-light px-4 py-2">Current total completions</th>
    <td class="font-semibold text-center px-4"><%= @total_completions %></td>
  </tr>
  <tr class="border-b border-aoc-gray-dark">
    <th class="font-light px-4 py-2">Projected completions</th>
    <td class="font-semibold text-center px-4"><%= @projected_completions.round %></td>
  </tr>
  <tr class="border-b border-aoc-gray-dark">
    <th class="font-light px-4 py-2">Current total rows</th>
    <td class="font-semibold text-center px-4 <%= @total_rows_color %>"><%= @total_rows %></td>
  </tr>
  <tr class="border-b border-aoc-gray-dark">
    <th class="font-light px-4 py-2">Projected total rows</th>
    <td class="font-semibold text-center px-4 <%= @projected_total < 9000 ? "text-aoc-green-light" : "text-aoc-gold" %>"><%= @projected_total.round %></td>
  </tr>
</table>
