<p>
  - Nombre total d'étoiles récupérées: <%= @total_stars %>*<br />
  - Nombre d'inscrits "Sign In with Kitt": <%= @total_kitt_signups %><br />
  - Nombre d'utilisateurs synchronisés: <%= @total_synced_users %><br />
  - Nombre d'utilisateurs ayant réussi au moins un challenge: <%= @total_participating_users %><br />
</p>
<p>
  - Nombre d'étoiles par jour par challenge (1 = silver, 2 = gold)<br />
  <%= @stars_per_day %><br />
  Lors de l'affichage, grouper <%= @users_per_star %> users par étoile.
</p>
