<div class="my-8 mx-4 sm:mx-auto max-w-6xl flex justify-center divide-x">
  <div class="dashboard-tile flex flex-col items-center hover:bg-aoc-gray-darker">
    <div class="h-1/3 flex items-center">
      <h2 class="text-lg strong text-center">Stars collected</h2>
    </div>

    <div class="h-1/2 flex items-center space-x-2">
      <% if @silver_stars > 0 %>
        <span class="text-aoc-silver text-2xl"><%= @silver_stars %>*</span>
      <% end %>
      <span class="text-aoc-gold text-2xl"><%= @gold_stars %>*</span>
    </div>
  </div>

  <div class="dashboard-tile flex flex-col items-center hover:bg-aoc-gray-darker">
    <div class="h-1/3 flex items-center">
      <h2 class="text-lg strong text-center">Sign ups</h2>
    </div>

    <div class="h-1/2 flex items-center space-x-2">
      <span class="text-2xl text-aoc-atmospheric text-shadow-atmospheric"><%= @total_kitt_signups %></span>
    </div>
  </div>

  <div class="dashboard-tile flex flex-col items-center hover:bg-aoc-gray-darker">
    <div class="h-1/3 flex items-center">
      <h2 class="text-lg strong text-center">Synced players</h2>
    </div>

    <div class="h-1/2 flex items-center space-x-2">
      <span class="text-2xl text-aoc-atmospheric text-shadow-atmospheric"><%= @total_synced_users %></span>
    </div>
  </div>

  <div class="dashboard-tile flex flex-col items-center hover:bg-aoc-gray-darker">
    <div class="h-1/3 flex items-center">
      <h2 class="text-lg strong text-center">Players w/ ⩾ 1 challenge solved</h2>
    </div>

    <div class="h-1/2 flex items-center space-x-2">
      <span class="text-2xl text-aoc-atmospheric text-shadow-atmospheric"><%= @total_participating_users %></span>
    </div>
  </div>
</div>

<div class="my-8 mx-4 sm:mx-auto max-w-4xl flex flex-col justify-center space-y-8">

  <p><span class="text-aoc-gold">Gold</span> indicates users that have completed both parts of a puzzle, while <span class="text-aoc-silver">silver</span> indicates users that have completed only the first half. Each <span class="text-aoc-gold">*</span> or <span class="text-aoc-silver">*</span> star represents up to <span class="strong"><%= @users_per_star %></span> users.</p>

  <div class="mx-auto text-lg text-right leading-tight flex flex-col">
    <% @stars_per_day.reverse_each do |day, stars| %>
      <%= link_to "https://adventofcode.com/2021/day/#{day}", target: :blank, class: "flex space-x-5 -justify-end hover:bg-aoc-gray hover:bg-opacity-10 px-3" do %>
        <span class="w-6"><%= day %></span>
        <span class="w-10 text-aoc-gold"><%= gold = stars[1] %></span>
        <span class="w-10 text-aoc-silver"><%= silver = stars[0] - stars[1] %></span>
        <span>
          <span class="text-aoc-gold"><%= "*" * (gold / @users_per_star.to_f).ceil %></span><span class="text-aoc-silver"><%= "*" * (silver / @users_per_star.to_f).ceil %></span>
        </span>
      <% end %>
    <% end %>
  </div>
</div>
