<!DOCTYPE html>
<html class="GLOBAL RESPONSIVENESS // lg:text-lg">
  <head>
    <title>Le Wagon x Advent of Code</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
    <%= stylesheet_pack_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= favicon_pack_tag "favicon.png" %>

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;600&display=swap" rel="stylesheet">
  </head>

  <body class="font-mono text-aoc-gray bg-dark min-h-screen flex flex-col">
    <%= render "shared/flashes" %>
    <%= render "shared/header" %>

    <main>
      <%# if ENV["ANNOUNCEMENT"].present? %>
        <div id="announcement" class="my-12 flex justify-center bg-aoc-gray">
          <p class="max-w-6xl paragraph text-dark text-center tracking-tighter"><span>The 2021 event is now over, congratulations to every puzzle solver out there!</span>
          <span class="">You can help improve the event by <%= link_to "sharing your feedback and ideas", "https://docs.google.com/forms/d/e/1FAIpQLSeAXNOVWRBzAAdL6_p1Uu0abji9Bb3eI2cHNk5ILgeSxP5E5w/viewform", class: "font-semibold hover:text-aoc-gray-dark" %> 📣, I read every single comment.</span>
          <span>Finally, stay tuned via <%= link_to "the #aoc Slack channel", "slack://channel?team=T02NE0241&id=C02PN711H09", class: "font-semibold hover:text-aoc-gray-dark" %> 🔥</span>
          </p>
        </div>
      <%# end %>

      <%= yield %>
    </main>

    <%= render "shared/footer" %>
  </body>
</html>
