<!DOCTYPE html>
<html class="GLOBAL RESPONSIVENESS // lg:text-lg">
  <head>
    <title>Le Wagon x AOC</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_pack_tag 'favicon.png' %>

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap" rel="stylesheet">
  </head>

  <body class="font-mono text-aoc-gray bg-dark">
    <p class="text-right"><%= notice %></p>
    <p class="text-right"><%= alert %></p>
    <%= yield %>
  </body>
</html>
