<!DOCTYPE html>
<html class="GLOBAL RESPONSIVENESS // lg:text-lg">
  <head>
    <title>Le Wagon x Advent of Code</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag "favicon.png" %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="font-mono text-aoc-gray bg-dark min-h-screen flex flex-col">
    <%= render "shared/flashes" %>

    <header class="flex flex-col mx-auto">
      <%= render Header::TitleComponent.new %>
      <%= render Header::NavComponent.new(user: current_user) %>
    </header>

    <main class="container mx-auto my-4 lg:my-6 px-4">
      <%= yield %>
    </main>

    <%= render "shared/footer" %>
  </body>
</html>
