<!DOCTYPE html>
<html lang="en" class="GLOBAL RESPONSIVENESS // lg:text-lg" style="scrollbar-gutter: stable both-edges;">
  <head>
    <title>Le Wagon x Advent of Code</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag "favicon.png" %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="font-mono font-light text-aoc-gray bg-dark min-h-screen flex flex-col">
    <%= render FlashComponent.new(flash:) %>

    <header class="flex flex-col mx-auto">
      <%= render Header::TitleComponent.new %>
      <%= render Header::NavComponent.new(user: current_user) %>
    </header>

    <main class="flex flex-col max-w-4xl w-[90%] mx-auto my-4 lg:my-6">
      <%= yield %>
    </main>

    <footer class="flex flex-col gap-y-1 mx-auto mt-auto mb-2 text-sm text-center opacity-60">
      <%= render Footer::NavComponent.new(user: current_user) %>
      <%= render LastDataUpdateComponent.new %>
      <%= render Footer::AuthorsComponent.new %>
    </footer>
  </body>
</html>
